<div class="row">
  <div class="col-md-12">
    <!--<exam-side-bar [Questions]="questions"></exam-side-bar>-->
    <form [formGroup]="form">
      <div class="row">
        <div class="col-md-12">
          <start-page *ngIf="startPage" [parent]="form" (started)="startSession($event)"></start-page>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <exam-detail *ngIf="!startPage" [parent]="form" [map]="questionAnswerMap"></exam-detail>
        </div>
      </div>
    </form>
  </div>
</div>
