<div class="main-container">

  <div class="jumbotron">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-8">
        <div class="row">
          <div class="img-block"></div>
          <div class="title-container">
            <h1 class="">TEST CONTENT</h1>
            <p>Roll No: Test no.</p>
            <p>Test</p>
            <p>Test</p>

          </div>
          <!-- <div class="clear-fix">
              <div class="float-left">Flex item</div>
              <div class="float-right">Flex item</div>
              <div class="p-2">Flex item</div>
            </div> -->
        </div>
      </div>
      <div class="col-md-3">
        <div class="title-container">
          <h1>this another content</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row questions-container">
    <!-- <div class="left-container">
      <div class="container">
        <div id="accordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header" role="tab" id="headingOne">
              <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Section #1
                </a>
              </h5>
            </div>

            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
              <div class="card-block">
                <a href="#" class="btn btn-circle btn-default noHover">I</a>
                <a href="#" class="btn btn-circle btn-info">R</a>
                <a href="#" class="btn btn-circle btn-success">C</a>
                <a href="#" class="btn btn-circle btn-warning">L</a>
                <a href="#" class="btn btn-circle btn-danger">E</a>
                <a href="#" class="btn btn-circle btn-info">R</a>
                <a href="#" class="btn btn-circle btn-success">C</a>
                <a href="#" class="btn btn-circle btn-warning">L</a>
                <a href="#" class="btn btn-circle btn-danger">E</a>
                <a href="#" class="btn btn-circle btn-info">R</a>
                <a href="#" class="btn btn-circle btn-success">C</a>
                <a href="#" class="btn btn-circle btn-warning">L</a>
                <a href="#" class="btn btn-circle btn-danger">E</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="headingTwo">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Section #2
                </a>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse show" role="tabpanel" aria-labelledby="headingTwo">
              <div class="card-block">
                <a href="#" class="btn btn-circle btn-info">R</a>
                <a href="#" class="btn btn-circle btn-success">C</a>
                <a href="#" class="btn btn-circle btn-warning">L</a>
                <a href="#" class="btn btn-circle btn-danger">E</a>
                <a href="#" class="btn btn-circle btn-info">R</a>
                <a href="#" class="btn btn-circle btn-success">C</a>
                <a href="#" class="btn btn-circle btn-warning">L</a>
                <a href="#" class="btn btn-circle btn-danger">E</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="headingThree">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Section #3
                </a>
              </h5>
            </div>
            <div id="collapseThree" class="collapse show" role="tabpanel" aria-labelledby="headingThree">
              <div class="card-block">
                <a href="#" class="btn btn-circle btn-info">R</a>
                <a href="#" class="btn btn-circle btn-success">C</a>
                <a href="#" class="btn btn-circle btn-warning">L</a>
                <a href="#" class="btn btn-circle btn-danger">E</a>
                <a href="#" class="btn btn-circle btn-info">R</a>
                <a href="#" class="btn btn-circle btn-success">C</a>
                <a href="#" class="btn btn-circle btn-warning">L</a>
                <a href="#" class="btn btn-circle btn-danger">E</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!--<exam-side-bar [Questions]="questions"></exam-side-bar>-->
    <div class="col-md-6">
      <form [formGroup]="form">
        <div class="row questions-window">
          <exam-detail [parent]="form" [map]="questionAnswerMap"></exam-detail>
        </div>
      </form>
      <!-- <div class="custom-controls-stacked">
          <label class="custom-control custom-radio">
            <input id="radioStacked1" name="radio-stacked" type="radio" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Toggle this custom radio</span>
          </label>
          <label class="custom-control custom-radio">
            <input id="radioStacked2" name="radio-stacked" type="radio" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Or toggle this other custom radio</span>
          </label>
        </div> -->
    </div>
  </div>
  <!-- <div class="row fluid">
    <div class="bottom-container">
      <div class="col-md-3"><h1>Test</h1></div>
      <div class="col-md-9"><h2>sdfdsaf</h2></div>
      
    </div>
  </div> -->


</div>
