<div class="row">
  <div class="col-md-12">
    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Exam</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Your answers were submitted&hellip;</p>
        <button type="button" (click)="navigate()">
          <span aria-hidden="true">OK</span>
        </button>
      </div>
    </ng-template>
    <form [formGroup]="form" (ngSubmit)="onSubmit(content)">
      <div class="row">
        <div class="col align-self-center">
          <p *ngFor="let alert of alerts" class="text-center">
            <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <start-page *ngIf="startPage" [parent]="form" (started)="startSession($event)"></start-page>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <exam-detail *ngIf="!startPage && questionAnswerMap && questionAnswerMap.size>=1" [parent]="form" [map]="questionAnswerMap" [timerCount]="timerCount"
             (endExamEvent)="onSubmit(content)" [typeOfExam]="examType"></exam-detail>
        </div>
      </div>
    </form>
  </div>
</div>
