<div class="b-hero hero--contact">
    <div class="container">
        <div class="hero__bread">
          <div class="c-zone">
            <div data-ix="onload-fadein-2" class="c-zone__label fs-body-small">We're just 30 minutes outside
              <strong class="important-text">India</strong>
            </div>
            <div data-ix="onload-fadein-2" class="c-zone__time">6:06</div>
          </div>
        </div>
        <div data-tilt class="c-art-contact">
          <img src="assets/images/svgs/get-in-touch1.svg" data-ix="ia-mask" class="c-art__mask" style="transform: scaleX(1) scaleY(1) scaleZ(1); transform-style: preserve-3d; transition: transform 3000ms ease-in-out;">
          <div class="c-art__inner">
            <div data-ix="ia-blob" class="c-art__blob cont-b1 w-embed" style="opacity: 1; transform: scaleX(1) scaleY(1) scaleZ(1); transform-style: preserve-3d; transition: opacity 200ms, transform 2000ms ease-in-out;">
              <svg viewBox="0 0 313 406" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Unused" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <path d="M237.467229,352.735811 C181.255429,395.742543 141.93653,426.110146 79.8446277,387.327317 C8.46504511,342.965657 -9.81929254,235.454398 4.53899809,147.905817 C14.9899561,85.0330439 69.4713414,16.492147 124.191626,2.14670581 C189.275869,-14.8058614 294.466606,71.9021144 309.401718,147.568446 C323.938086,222.095624 293.330343,317.762937 237.467229,352.735811 Z"
                    id="blob-1" fill="#01CFEC" fill-rule="nonzero"></path>
                </g>
              </svg>
            </div>
            <div data-ix="ia-blob" class="c-art__blob cont-b2 w-embed" style="opacity: 1; transform: scaleX(1) scaleY(1) scaleZ(1); transform-style: preserve-3d; transition: opacity 200ms, transform 2000ms ease-in-out;">
              <svg viewBox="0 0 328 397" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Unused" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <path d="M323.955005,208.337383 C311.883394,289.375101 303.622604,346.237697 234.940979,381.768723 C156.128567,422.753532 74.2689725,373.10007 28.243058,304.500894 C-4.71184575,255.102158 -10.2392115,159.756133 19.1641316,98.0858292 C54.206916,24.8039871 184.034758,-22.2481645 243.105451,10.7077579 C301.164155,43.3349917 340.933715,132.661595 323.955005,208.337383 Z"
                    id="blob-2" fill="#1B126C" fill-rule="nonzero"></path>
                </g>
              </svg>
            </div>
            <div data-ix="ia-blob" class="c-art__blob cont-b3 w-embed" style="opacity: 1; transform: scaleX(1) scaleY(1) scaleZ(1); transform-style: preserve-3d; transition: opacity 200ms, transform 2000ms ease-in-out;">
              <svg viewBox="0 0 328 397" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Unused" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <path d="M323.955005,208.337383 C311.883394,289.375101 303.622604,346.237697 234.940979,381.768723 C156.128567,422.753532 74.2689725,373.10007 28.243058,304.500894 C-4.71184575,255.102158 -10.2392115,159.756133 19.1641316,98.0858292 C54.206916,24.8039871 184.034758,-22.2481645 243.105451,10.7077579 C301.164155,43.3349917 340.933715,132.661595 323.955005,208.337383 Z"
                    id="blob-3" fill="#FF5800" fill-rule="nonzero"></path>
                </g>
              </svg>
            </div>
            <div data-ix="ia-blob" class="c-art__blob cont-b4 w-embed" style="opacity: 1; transform: scaleX(1) scaleY(1) scaleZ(1); transform-style: preserve-3d; transition: opacity 200ms, transform 2000ms ease-in-out;">
              <svg viewBox="0 0 304 259" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Unused" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <path d="M300.244085,136.043578 C289.05602,188.960923 281.399854,226.091998 217.745175,249.293633 C144.701202,276.056569 68.8330767,243.633033 26.1758916,198.838013 C-4.36697626,166.580812 -9.48978301,104.320193 17.7614701,64.0497014 C50.2394025,16.1969163 170.564883,-14.5279731 225.312073,6.99212822 C279.121343,28.2975971 315.980089,86.627555 300.244085,136.043578 Z"
                    id="blob-4" fill="#FF1400" fill-rule="nonzero"></path>
                </g>
              </svg>
            </div>
            <div data-ix="ia-blob" class="c-art__blob cont-b5 w-embed" style="opacity: 1; transform: scaleX(1) scaleY(1) scaleZ(1); transform-style: preserve-3d; transition: opacity 200ms, transform 2000ms ease-in-out;">
              <svg viewBox="0 0 484 409" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Unused" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <path d="M0.736074743,202.038104 C17.9282161,107.95545 138.839979,-4.22002313 239.536807,0.122253238 C345.523524,4.82638597 479.660011,113.021439 483.816353,219.045354 C495.151831,501.112389 -22.1238055,444.662797 0.736074743,202.038104 Z"
                    id="blob-5" fill="#17F3AF" fill-rule="nonzero"></path>
                </g>
              </svg>
            </div>
            <div data-ix="ia-blob" class="c-art__blob cont-b6 w-embed" style="opacity: 1; transform: scaleX(1) scaleY(1) scaleZ(1); transform-style: preserve-3d; transition: opacity 200ms, transform 2000ms ease-in-out;">
              <svg viewBox="0 0 364 352" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Unused" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <path d="M24.2653318,69.6506651 C74.9074818,9.13030052 204.065342,-23.3202713 271.242435,19.6071473 C341.89328,64.8853628 389.071645,195.346221 348.11878,272.853138 C239.357734,479.163177 -91.6232796,234.216025 24.2653318,69.6506651 Z"
                    id="blob-6" fill="#FFD900" fill-rule="nonzero"></path>
                </g>
              </svg>
            </div>
            <div data-ix="ia-blob" class="c-art__blob cont-b7 w-embed" style="opacity: 1; transform: scaleX(1) scaleY(1) scaleZ(1); transform-style: preserve-3d; transition: opacity 200ms, transform 2000ms ease-in-out;">
              <svg viewBox="0 0 295 285" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Unused" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <path d="M145.66899,284.227388 C77.8356208,274.115983 -3.04262657,203.002802 0.0881442921,143.778857 C3.47981273,81.4437101 81.4881868,2.55252579 157.931175,0.108010216 C361.300833,-6.55885043 320.600812,297.672224 145.66899,284.227388 Z"
                    id="blob-7" fill="#6E1AE6" fill-rule="nonzero"></path>
                </g>
              </svg>
            </div>
          </div>
          <div class="js-tilt-glare" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden;">
            <div class="js-tilt-glare-inner" style="position: absolute; top: 50%; left: 50%; pointer-events: none; background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%); width: 2912px; height: 2912px; transform: rotate(180deg) translate(-50%, -50%); transform-origin: 0% 0% 0px; opacity: 0;"></div>
          </div>
        </div>
      
        <div class="c-contacts">
          <div class="b-contacts__txt">
            <div data-ix="onload-fadein-2" class="b-contacts__address fs-body-small">
              <strong>DR SHREKANTH</strong>
              
              <br>Phone / Whatsapp : 09989427971
              <br>
              <br><strong>DR VIVEK TADURI</strong>
              <br>Phone / Whatsapp : 9620568895
              <br>
              <br><strong>V SASHI KANTH</strong>
              <br>Phone / Whatsapp : 7507666074
              <br>
              <br>Email : <a href= "mailto:mdsconquer@gmail.com">
                <strong>mdsconquer@gmail.com</strong>
              </a>
              <br>Website :<a href= "mdsconquer.com">mdsconquer.com</a> / <a href= "mdsconquer.in">mdsconquer.in</a> 
              <br>
            </div>
          </div>
          <div class="c-form-contacts w-embed w-script">
            <script type="text/javascript" src="https://papertiger.formstack.com/forms/js.php/get_started"></script>
            <div class="fsBody fsEmbed">
             <!--  <link rel="stylesheet" type="text/css" href="//static.formstack.com/forms/css/3/reset_53bc1bb20a.css">
              <link rel="stylesheet" type="text/css" href="//static.formstack.com/forms/css/3/jquery-ui_e641deecbe.css">
              <link rel="stylesheet" type="text/css" href="//static.formstack.com/forms/css/3/default-v4_cd932979d4.css">
              <link rel="stylesheet" type="text/css" href="//static.formstack.com/forms/../common/css/uil-static.css">
              <link rel="stylesheet" type="text/css" href="//static.formstack.com/forms/css/common/dialogs_68abb2e62a.css"> -->
              <!--[if IE]>
      <link rel="stylesheet" type="text/css" media="all" href="https://papertiger.formstack.com/forms/css/3/ie.css?20140508" />
      <![endif]-->
              <!--[if IE 7]><link rel="stylesheet" type="text/css" media="all" href="https://papertiger.formstack.com/forms/css/3/ie7.css" /><![endif]-->
              <!--[if IE 6]><link rel="stylesheet" type="text/css" media="all" href="https://papertiger.formstack.com/forms/css/3/ie6fixes.css" /><![endif]-->
      
              <form method="post" accept-charset="UTF-8" novalidate="" class="fsForm fsMultiColumn" id="fsForm2834307">
                <div class="fsPage" id="fsPage2834307-1">
                  <div class="fsSection fs2Col">
                    <div id="fsRow2834307-1" class="fsRow fsFieldRow fsLastRow">
                      <div class="fsRowBody fsCell fsFieldCell fsFirst fsLast fsLabelVertical fsSpan100" id="fsCell57032813" lang="en" fs-field-type="name">
                        <span id="label57032813" class="fsLabel">Name</span>
                        <div class="fsSubFieldGroup">
                          <div class="fsSubField fsNameFirst">
                            <input type="text" id="field57032813-first" name="field57032813-first" size="20" value="" class="fsField fsFieldName">
                            <label class="fsSupporting" for="field57032813-first">First Name</label>
                          </div>
                          <div class="fsSubField fsNameLast">
                            <input type="text" id="field57032813-last" name="field57032813-last" size="20" value="" class="fsField fsFieldName">
                            <label class="fsSupporting" for="field57032813-last">Last Name</label>
                          </div>
                        </div>
                        <div class="clear"></div>
                      </div>
                      <div class="fs-clear"></div>
                    </div>
                    <div id="fsRow2834307-2" class="fsRow fsFieldRow fsLastRow">
                      <div class="fsRowBody fsCell fsFieldCell fsFirst fsLast fsLabelVertical fsSpan100" id="fsCell57032816" lang="en" fs-field-type="text">
                        <label id="label57032816" class="fsLabel" for="field57032816">Company </label>
                        <input type="text" id="field57032816" name="field57032816" size="50" value="" class="fsField">
                      </div>
                      <div class="fs-clear"></div>
                    </div>
                    <div id="fsRow2834307-3" class="fsRow fsFieldRow">
                      <div class="fsRowBody fsCell fsFieldCell fsFirst fsLabelVertical fsSpan50" id="fsCell57032834" lang="en" fs-field-type="email">
                        <label id="label57032834" class="fsLabel fsRequiredLabel" for="field57032834">Email
                          <span class="fsRequiredMarker">*</span>
                        </label>
                        <input type="email" id="field57032834" name="field57032834" size="50" required="required" value="" class="fsField fsFormatEmail fsRequired"
                          aria-required="true">
                      </div>
                      <div class="fsRowBody fsCell fsFieldCell fsLast fsLabelVertical fsSpan50" id="fsCell57032836" lang="en" fs-field-type="phone">
                        <label id="label57032836" class="fsLabel" for="field57032836">Phone </label>
                        <input type="tel" id="field57032836" name="field57032836" size="20" value="" class="fsField fsFormatPhoneUS " data-country="US"
                          data-format="international">
                      </div>
                      <div class="fs-clear"></div>
                    </div>
                    <div id="fsRow2834307-4" class="fsRow fsFieldRow fsLastRow">
                      <div class="fsRowBody fsCell fsFieldCell fsFirst fsLast fsLabelVertical fsSpan100" id="fsCell57032841" lang="en" fs-field-type="textarea">
                        <label id="label57032841" class="fsLabel fsRequiredLabel" for="field57032841">Message
                          <span class="fsRequiredMarker">*</span>
                        </label>
                        <textarea id="field57032841" class="fsField fsRequired" name="field57032841" rows="10" cols="50" required="" aria-required="true"></textarea>
                      </div>
                      <div class="fs-clear"></div>
                    </div>
                    <!-- <div id="fsRow2834307-5" class="fsRow fsFieldRow fsLastRow">
                      <div class="fsRowBody fsCell fsFieldCell fsFirst fsLast fsLabelVertical fsSpan100" id="fsCell57032877" aria-describedby="fsSupporting57032877"
                        lang="en" fs-field-type="select">
                        <label id="label57032877" class="fsLabel fsRequiredLabel" for="field57032877">Approximate Budget
                          <span class="fsRequiredMarker">*</span>
                        </label>
                        <select id="field57032877" name="field57032877" size="1" required="" class="fsField fsRequired" aria-required="true">
                          <option value="Not Sure Yet">Not Sure Yet</option>
                          <option value="5-10k">5-10k</option>
                          <option value="10-30k">10-30k</option>
                          <option value="30-50k">30-50k</option>
                          <option value="50-100k">50-100k</option>
                          <option value="100k+">100k+</option>
                        </select>
                        <div id="fsSupporting57032877" class="fsSupporting">We highly recommend selecting an approximate budget.</div>
                      </div>
                      <div class="fs-clear"></div>
                    </div> -->
                  </div>
                </div>
                <div id="fsSubmit2834307" class="fsSubmit fsPagination">
                  <button type="button" id="fsPreviousButton2834307" class="fsPreviousButton" value="Previous Page" style="display:none;" aria-label="Previous">
                    <span class="fsFull">Previous</span>
                    <span class="fsSlim">←</span>
                  </button>
                  <button type="button" id="fsNextButton2834307" class="fsNextButton" value="Next Page" style="display:none;" aria-label="Next">
                    <span class="fsFull">Next</span>
                    <span class="fsSlim">→</span>
                  </button>
                  <input id="fsSubmitButton2834307" class="fsSubmitButton" style="" type="submit" value="Get In Touch">
                  <div class="clear"></div>
                </div>
                <!-- <script type="text/javascript" src="//static.formstack.com/forms/js/3/jquery.min_1d14cd3798.js"></script>
                <script type="text/javascript" src="//static.formstack.com/forms/js/3/jquery-ui.min_42a497cb9f.js"></script>
                <script type="text/javascript" src="//static.formstack.com/forms/js/3/scripts_54495a0cc2.js"></script>
                <script type="text/javascript" src="//static.formstack.com/forms/js/3/analytics_e092e22178.js"></script>
                <script type="text/javascript" src="//static.formstack.com/forms/js/3/google-phone-lib_f0ceec66db.js"></script>
                <script type="text/javascript" src="//static.formstack.com/forms/js/3/modernizr_60a2d5aeb5.js"></script> -->
      
              </form>
              <div class="fs-ngdialog fs-modal-medium fs-form-dialog fs-form-dialog--hidden">
                <div class="fs-ngdialog-overlay"></div>
                <div class="fs-ngdialog-content">
                  <div class="fs-modal__top fs-form-dialog__title"></div>
                  <div class="fs-modal__middle">
                    <div class="fs-form-dialog__message"></div>
                    <label class="hidden" for="fsSaveResumePassword">Enter your save and resume password</label>
                    <input type="password" id="fsSaveResumePassword" class="fs-form-input fs-form-dialog__password fs-form-dialog--hidden fs--mt20"
                      placeholder="Enter your save and resume password">
                  </div>
                  <div class="fs-modal__bottom">
                    <a class="fs-form-dialog__cancel fs-btn2 fs-btn2--size_medium fs-btn2--style_edit-dark" title="Cancel">
                      <div class="fs-btn2__content">
                        <div class="fs-btn2__text">
                          <span class="fs-form-dialog__button-text">Cancel</span>
                        </div>
                      </div>
                    </a>
                    <a class="fs-form-dialog__confirm fs-btn2 fs-btn2--size_medium fs-btn2--style_create fs--float-right" title="Confirm">
                      <div class="fs-btn2__content">
                        <div class="fs-btn2__text">
                          <span class="fs-form-dialog__button-text">Confirm</span>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
      
      
            <noscript>
              &lt;a href="https://papertiger.formstack.com/forms/get_started" title="Online Form"&gt;Online Form - Get Started&lt;/a&gt;
            </noscript>
            <div style="text-align:right; font-size:x-small;">
              <a href="https://www.formstack.com?utm_source=jsembed&amp;utm_medium=product&amp;utm_campaign=product+branding&amp;fa=h,2834307"
                title="Web Form Generator"></a>
            </div>
          </div>
        </div>
      </div>
</div>
