<div class="b-letter" id="letter">
  <div class="container">
    <div class="b-letter__txt">
      <div class="c-offset">
        <div class="c-wrap">
          <h1 data-ix="onscroll-fadein-1" style="opacity: 1; transform: translateX(0px) translateY(0px) translateZ(0px); transition: opacity 600ms ease-in-out, transform 600ms ease-in-out;">HOW WE APPROACH
            <br>DESIGN PROBLEMS</h1>
        </div>
        <div class="c-txt-deco">
          <div class="c-txt-deco__line" data-ix="onscroll-fadein-2" style="opacity: 1; transform: translateX(0px) translateY(0px) translateZ(0px); transition: opacity 600ms ease-in-out, transform 600ms ease-in-out;"></div>
          <div class="c-txt-deco__label fs-body-caption" data-ix="onscroll-fadein-2" style="opacity: 1;transform: translateX(0px) translateY(0px) translateZ(0px);transition: opacity 600ms ease-in-out, transform 600ms ease-in-out;">INSIGHTS FROM METHODOLOGY</div>
          <p data-ix="onscroll-fadein-3" style="opacity: 1; transform: translateX(0px) translateY(0px) translateZ(0px); transition: opacity 600ms ease-in-out, transform 600ms ease-in-out;">
            Are you stuck with the traditional system that just shows your rank and score at the end of the exam? How does it help you
            to boost up your performance in next exam??
            <br> India's most innovative training community - MDS conquer, known for its unprecedented methods of training, minted
            the strategy robot SaShI that acts as a virtual master who guides you to perform better in upcoming exams. Let
            your confidence boost by not just marks &amp; ranks but by strategies &amp; guidance.
            <br> Want to know what Sashi can do??
            <br>
            <div style="padding-left:2em;">
               Sashi is a personal strategic analyst, developed for MDS Conquer participants. This strategical analyst uses
              mail and sms services to make each and every aspirants aim towards MDS smarter.
              <br> It creates strategy using all the exams written, subjects covered across all the exams, exams skipped, percentage
              of right answers, percentage of wrong answers, score against 100 for all the levels of questions attempted
              (Which includes Hard, Medium, Average &amp; Low) by aspirants. This pulls out all the possible levels of information
              of an individual aspirants and sends a very detailed report of their performance across all the attempted exams
              and all the attempted aspirants. This not only gives a very clear picture to an aspirant on where he/she stand
              in the competition but also makes the participant understand how his/her preparation transforming (which includes
              both Good &amp; Bad) as days progressing. On the basis of the entire information based on exam performance,
              Sashi prepares a strategy and automatically send you a mail on weekly basis, suggests you tricks that can help
              your preparation much better. It notifies aspirants to avoid skipping exams and alerts aspirants if performance
              degrades. In short, SASHI is a ROBO; that can act as most Intelligent and personal strategical analyst for
              every aspirant..
              <br> It is technically well build to help and make every aspirant life more easier.
              <br>
              <ol style="list-style-type: decimal;">
                <li>
                  Clearly projects where an individual is lagging on the basis of subject.
                </li>
                <li>
                  Clearly showcases whats your success percentage with respective to failure.(By mapping correct and wrong ones).
                </li>
                <li>
                  How many exams one skipped vs written.
                </li>
                <li>
                  Showcases individual performances with respective to question complexity.
                </li>
                <li>
                  It provides perfect analysis of the individual considering all the possible points.
                </li>
              </ol>
              <br> It helps all the viewers in the site and will try to resole all the questions or queries to the users and
              if it fails to provide answers it will post the questions to the right channel to get the answers at the possible
              earliest.
            </div>
        </div>
      </div>
    </div>
    <div class="fs-deco">THINK
      <br>MAKE
      <br>ITERATE</div>
  </div>
</div>