<div class="row">
  <div class="col-12 px-0">
    <img src="/assets/images/About Us.png" style="width:100%">
  </div>
</div>

<div class="b-letter" id="letter">
  <div class="container">
    <div class="b-letter__txt">
      <div class="c-offset">
        <div class="c-wrap">
          <h1 data-ix="onscroll-fadein-1" style="opacity: 1; transform: translateX(0px) translateY(0px) translateZ(0px); transition: opacity 600ms ease-in-out, transform 600ms ease-in-out;">HOW WE APPROACH
            <br>DESIGN PROBLEMS</h1>
        </div>
        <div class="c-txt-deco">
          <div class="c-txt-deco__line" data-ix="onscroll-fadein-2" style="opacity: 1; transform: translateX(0px) translateY(0px) translateZ(0px); transition: opacity 600ms ease-in-out, transform 600ms ease-in-out;"></div>
          <div class="c-txt-deco__label fs-body-caption" data-ix="onscroll-fadein-2" style="opacity: 1;transform: translateX(0px) translateY(0px) translateZ(0px);transition: opacity 600ms ease-in-out, transform 600ms ease-in-out;">INSIGHTS FROM METHODOLOGY</div>
          <p data-ix="onscroll-fadein-3" style="opacity: 1; transform: translateX(0px) translateY(0px) translateZ(0px); transition: opacity 600ms ease-in-out, transform 600ms ease-in-out;">
            Few years back, we are just like you people!! Searching much in all possible ways, to join a premium institute or coaching
            center that can help us to make our PG dream in GDC come true. We found many but not the one, which can offer
            one to one training, we found none that can offer training at our convenience, we found none that can provide
            test papers which are close to PG (NEET/AIIMS) main exam paper. We experienced the same difficulties that you
            people are facing today and with an aim to transform the dental PG preparation in India.
            <br>
            <br>MDS CONQUER is established with help of 16 dynamic dental mentors who are empathetic to aspirants problems during
            preparation. We made inquisitive analysis of exam patterns, poured from creative efforts of experienced mentors
            and collected feedback from successful aspirants. After a quarter of perseverant efforts, we framed out different
            strategies that can helps all aspirants of different levels (considering all types of learners). We implemented
            these strategies on around 150 students in 2015 and become part of their successful stories. And slowly in 2016;
            MDS CONQUER family size reached to 44 mentors and 450 aspirants. Later in 2017 to 60 and 700+ respectively. It's
            not all about size, but SUCCESS that matters. Every year Success Percentage of MDS CONQUER Kept on increasing
            the ladder at light speed and Stood as
            <b>“One of the India’s best online dental Community for PG Preparation” &amp; got awarded as “ India’s Best Dental
              Facebook Group - 2017”</b>
            <br>
            <br> Taking Dental PG Preparation a step ahead, we developed a personal strategic analyst for MDS Conquer students.
            Which analyses and prepares a strategy for each and every student and make their preparation much better as days
            passing using mail and message services. And we are looking forward to help more and more aspirants to make their
            PG dream come true in least possible time.
            <br>
            <br>We strongly believe that
            <b> “HARD WORK MAY YIELD SUCCESS, BUT SMART WORK WITH PROPER GUIDANCE WILL SURELY YIELD SUCCESS IN LEAST POSSIBLE
              TIME.”</b>
          </p>
          <p>
            We turn aspirant’s conventional preparation into a smart preparation. Our complete test series and preparation strategies
            are segregated into 3 modes :
          </p>
          <ul>
            <li>
              <label style="text-decoration:underline;">Test Mode :</label> Thorough subject preparation by giving out your best; Jordan shortcuts and notes. Complete
              mode is divided into POWER PLAYS.
            </li>
            <li>
              <label style="text-decoration:underline;">One Day Mode :</label> Revising the subjects and related repeats simultaneously.
            </li>
            <li>
              <label style="text-decoration:underline;">T20 Mode : </label> Stress reduction; boosting up the confidence levels. Deal with all subjects along with
              mocks.
            </li>
          </ul>
          <br>
          <br>
          <p>MDS CONQUER is India's most innovative and best training company for PG Preparation.
          </p>
        </div>
      </div>
    </div>  
    <div class="fs-deco">THINK
      <br>MAKE
      <br>ITERATE</div>
  </div>
</div>
