<!-- <p>
  prompt-complete-verify works!
</p> -->

<!-- <div class="container">
  <div class="card">
    <h1>
      
    </h1>
  </div>
</div> -->

<!-- <div class="row">
  <div class="col-12 col-lg-12 col-md-12">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title text-left mb-3">Please complete your verification and come back.</h3>
      </div>
    </div>
  </div>
</div> -->

<div class="row align-items-center align-items-center auth-pages">
  <div class="col-lg-4 mx-auto">
    <div class="card">
      <div class="card-body px-5 py-5">
        <h3 class="card-title text-left mb-3">Please complete your verification and come back.</h3>
        
      </div>
    </div>
  </div>
</div>
