<div class="container-scroller ps ps--theme_default">
    <div class="container-fluid">
      <div class="row">
        <div class="content-wrapper full-page-wrapper d-flex align-items-center auth-pages">
          <div class="card col-lg-4 mx-auto">
            <div class="card-body px-5 py-5">
              <h3 class="card-title text-left mb-3">A reset password link was sent to an email Id, If email Id was registered</h3>              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
