<section class="html5-directory-slider d-flex align-items-center">
  <!-- <img src="images/slider.jpg" class="img-fluid" alt="#"> -->
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12">
        <div class="slider-title_box">
          <div class="row">
            <div class="col-md-12 normal-background">
              <div class="slider-content_wrap">
                <div class="b-letter" id="letter">
                  <div class="container">
                    <div class="b-letter__blob w-embed" data-ix="onscroll-scaleslowin-1" style="opacity: 1; transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); transition: opacity 500ms ease-in-out, transform 3000ms ease-in-out;">
                      <canvas class="bubble b-letter__blob" data-stroke-width="20" data-stroke-color="#FFD900" data-fill="#FFD900" id="bubble-0"
                        style="-webkit-user-drag: none; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"
                        width="1152" height="1152"></canvas>
                    </div>
                    <div class="b-letter__txt">
                      <div class="c-offset">
                        <div class="c-wrap">
                          <h1 data-ix="onscroll-fadein-1" style="opacity: 1; transform: translateX(0px) translateY(0px) translateZ(0px); transition: opacity 600ms ease-in-out, transform 600ms ease-in-out;">
                            Welcome to MDS Conquer
                          </h1>
                        </div>
                        <div class="c-txt-deco">
                          <div class="c-txt-deco__line" data-ix="onscroll-fadein-2" style="opacity: 1; transform: translateX(0px) translateY(0px) translateZ(0px); transition: opacity 600ms ease-in-out, transform 600ms ease-in-out;"></div>
                          <div class="c-txt-deco__label fs-body-caption" data-ix="onscroll-fadein-2" style="opacity: 1;transform: translateX(0px) translateY(0px) translateZ(0px);transition: opacity 600ms ease-in-out, transform 600ms ease-in-out;">INSIGHTS FROM METHODOLOGY</div>
                          <p data-ix="onscroll-fadein-3" style="opacity: 1; transform: translateX(0px) translateY(0px) translateZ(0px); transition: opacity 600ms ease-in-out, transform 600ms ease-in-out;">
                            MDS Conquer is the India’s biggest and fastest growing online dental community. Our team designed innovative learning methods
                            to master the dental entrance exams preparation. Hundreds of dental PG aspirants joined our course
                            and the very first batch stood with 73% success rate and 68% of the freshers got seat into PG
                            with no time lag.
                            <br>
                            <br>We always believe in smart work and inculcate the same in aspirants preparation. Our module design
                            and one to one interactive learning is the key to your SUCCESS. MDS Conquer is the India’s first
                            dental community that came out with whatsapp discussion board everyday. In PG exams, diagram
                            based questions are difficult to crack but MDS Conquer made it a myth. Yes! our practice test
                            series are diagram based and such test series is offered for the first time by MDS Conquer in
                            the entire dental community. Consultation for making a decision to join is very important. With
                            a wide network in many colleges of India, We are experts in providing all types of subjective
                            based consultative support 24/7 to PG aspirants.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="b-questions">
                      <div class="c-grid grid--approach">
                        <div class="b-questions__item" data-ix="onscroll-fadein-1" style="opacity: 1; transform: translateX(0px) translateY(0px) translateZ(0px); transition: opacity 600ms ease-in-out 0s, transform 600ms ease-in-out 0s;">
                          <div class="b-questions__cat fs-body-small">EFFICIENT?
                          </div>
                          <div class="b-questions__line"></div>
                          <h4 class="b-questions__text">
                            Efficient is doing things RIGHT
                          </h4>
                        </div>
                        <div class="b-questions__item" data-ix="onscroll-fadein-3" style="opacity: 1; transform: translateX(0px) translateY(0px) translateZ(0px); transition: opacity 600ms ease-in-out 0s, transform 600ms ease-in-out 0s;">
                          <div class="b-questions__cat fs-body-small">EFFECTIVE?</div>
                          <div class="b-questions__line"></div>
                          <h4 class="b-questions__text">Effective is doing the RIGHT things</h4>
                        </div>
                        <div class="b-questions__item" data-ix="onscroll-fadein-5" style="opacity: 1; transform: translateX(0px) translateY(0px) translateZ(0px); transition: opacity 600ms ease-in-out 0s, transform 600ms ease-in-out 0s;">
                          <div class="b-questions__cat fs-body-small">ECONOMICAL?</div>
                          <div class="b-questions__line"></div>
                          <h4 class="b-questions__text">Economical, but won't compromise in Energy Prices.</h4>
                        </div>
                        <div class="b-questions__item" data-ix="onscroll-fadein-3" style="opacity: 1; transform: translateX(0px) translateY(0px) translateZ(0px); transition: opacity 600ms ease-in-out 0s, transform 600ms ease-in-out 0s;">
                          <div class="b-questions__cat fs-body-small">SIMPLE?</div>
                          <div class="b-questions__line"></div>
                          <h4 class="b-questions__text">Make everything as SIMPLE as Possible</h4>
                        </div>
                        <div class="b-questions__item" data-ix="onscroll-fadein-2" style="opacity: 1; transform: translateX(0px) translateY(0px) translateZ(0px); transition: opacity 600ms ease-in-out 0s, transform 600ms ease-in-out 0s;">
                          <div class="b-questions__cat fs-body-small">SMART?</div>
                          <div class="b-questions__line"></div>
                          <h4 class="b-questions__text">
                            Being SMART is the KEY, Luck hardly matters.
                          </h4>
                        </div>
                        <div class="b-questions__item" data-ix="onscroll-fadein-4" style="opacity: 1; transform: translateX(0px) translateY(0px) translateZ(0px); transition: opacity 600ms ease-in-out 0s, transform 600ms ease-in-out 0s;">
                          <div class="b-questions__cat fs-body-small">STRATEGICAL?</div>
                          <div class="b-questions__line"></div>
                          <h4 class="b-questions__text">Strategy wins a battle before, it is fought.</h4>
                        </div>
                      </div>
                    </div>
                    <div class="fs-deco">HARD WORK
                      <br>DREAMS
                      <br>DEDICATION</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="col-md-10">
              <div class="slider-link">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="main-block">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="styled-heading">
          <h3>What do you need to find?</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 align-self-stretch c-card purple">
        <div class="find-place-img_wrap">
          <div class="html5-directory-grid">
            <figure class="effect-ruby">
              <figcaption>
                <h5>Achievements</h5>
                <p>"The Future belongs to those who believe in the beauty of their dreams." We believe in 100% conversion of
                  BDS to MDS in least possible time and with smart work. We achieved 73% conversion in the very first year
                  of which 68% are fresher’s. Whatsapp mentoring and Diagram based online practice tests are successfully
                  implemented and helped students to achieve 3 Ranks in Top 10, 18 Ranks in Top 50 in APPG entrance.</p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
      <div class="col-md-4 align-self-stretch c-card mint">
          <div class="find-place-img_wrap">
              <div class="html5-directory-grid">
                <figure class="effect-ruby">

                  <figcaption>
                    <h5>Mission </h5>
                    <p>We are committed to provide student focused training that make MDS entrance preparation simple and easy
                      to crack with reliable practice tests. We practice path breaking training pedagogy that helps slow
                      and quick learners to race for success with boosted confidence. We make our 24/7 student support system
                      as cornerstone.</p>
                  </figcaption>
                </figure>
              </div>
            </div>
       
      </div>
      <div class="col-md-4 align-self-stretch c-card navy">
          <div class="find-place-img_wrap">
              <div class="html5-directory-grid">
                <figure class="effect-ruby">

                  <figcaption>
                    <h5>Vision </h5>
                    <p>We envision MDS conquer as India's Best MDS entrance Coaching institute that can achieve 100% student
                      transition from UG(BDS) to PG(MDS) with in least possible time. With our smartest team efforts, we
                      target to improve India's UG-PG transition rate and help lakhs of students dream come true.</p>
                  </figcaption>
                </figure>
              </div>
            </div>
        
      </div>
    </div>
  </div>
</section>
