<div class="card col-lg-10 mx-auto">
  <div class="card-body px-5 py-5">
    <h3 class="card-title text-left mb-3">SHREE'S NEET POWER PLAY BOOKS</h3>
    <p align="justify" style="font-size:16px; line-height:2">To turn the students preparation into a smart manner. MDS Conquer came out with a special edition of books named
      <strong style="color:rgba(204,51,51,1)">“SHREE'S NEET POWER PLAY BOOKS”</strong>. These are set of 5 books with 3-5 subjects each; which acts as heart throb
      during ones preparation. MDS Conquer printed and supplied 1200+ sets of power play books across the country since inception.
      Which itself speaks the importance of these books in the preparation. These books are the best in carrying numericals
      and Scientist names with mnemonics.</p>
  </div>
</div>

<div class="card col-lg-6 mx-auto">
  <div class="card-body px-5 py-5">
    <ngb-carousel>

      <ng-template ngbSlide>
        <img alt="" src="assets/images/sp1.jpg?r=1">
      </ng-template>

      <ng-template ngbSlide>
        <img alt="" src="assets/images/sp2.jpg?r=2">
      </ng-template>

      <ng-template ngbSlide>
        <img alt="" src="assets/images/sp3.jpg?r=3">
      </ng-template>

      <ng-template ngbSlide>
        <img alt="" src="assets/images/sp4.jpg?r=4">
      </ng-template>

      <ng-template ngbSlide>
        <img alt="" src="assets/images/sp5.jpg?r=5">
      </ng-template>

      <ng-template ngbSlide>
        <img alt="" src="assets/images/sp6.jpg?r=6">
      </ng-template>
    </ngb-carousel>
  </div>
</div>

<div class="card col-lg-5 mx-auto">
  <div class="card-body px-5 py-5">
    <h3 class="card-title text-left mb-3">Testimonials on PP Books</h3>
    <ngb-carousel>
      <ng-template ngbSlide>
        <img src="assets/images/test1.jpg" alt="...">
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/images/test2.jpg" alt="...">
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/images/test3_n.jpg" alt="...">
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/images/test4.jpg" alt="...">
      </ng-template>
    </ngb-carousel>
  </div>
</div>