/*    Layouts     */

body {
  min-height: 100vh;
  position: relative;
}

.wrapper {
  min-height: 100vh;
  position: relative;
  top: 0;
  height: 100vh;
}

.main-header {
  min-height: 55px;
  width: 100%;
  color: $header-font-color;
  position: fixed;
  z-index: 1001; //border-bottom: 1px solid #eee;
  -webkit-box-shadow: 1px 1px 1px #eee;
  -moz-box-shadow: 1px 1px 1px #eee;
  box-shadow: 1px 1px 1px #eee;
  .logo-header {
    float: left;
    width: 260px;
    height: 55px;
    line-height: 55px;
    color:  $header-font-color;
    z-index: 1001;
    font-size: 18px;
    font-weight: $font-weight-bold;
    padding-left: 25px;
    padding-right: 25px;
    z-index: 1001;
    display: inline-block;
    a {
      color: $white-color !important;
    }
    a.logo {
      color: $header-font-color;
    }
    .navbar-toggler {
      padding-left: 0px;
      padding-right: 0px;
      opacity: 0;
      .navbar-toggler-icon {
        background: url(../assets/images/menu2.png);
        background-size: cover;
        height: 1em;
        width: 1em;
        opacity: .8;
      }
    }
    .more {
      background: $transparent-bg;
      border: 0;
      font-size: 26px;
      padding: 0;
      opacity: 0;
    }
  }
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 260px;
  display: block;
  z-index: 1;
  color: $white-color;
  font-weight: 200;
  background: $white-color;
  background-size: cover;
  background-position: center center;
  border-right: 1px solid #eee;
  box-shadow: 6px 1px 20px rgba(69, 65, 78, 0.1);
  .user {
    margin-top: 12.5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 12.5px;
    border-bottom: 1px solid #eee;
    display: block;
    .photo {
      width: 40px;
      height: 40px;
      overflow: hidden;
      float: left;
      margin-right: 11px;
      z-index: 5;
      border-radius: 50%;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .info {
      a {
        white-space: nowrap;
        display: block;
        position: relative;
        &:hover,
        &:focus {
          text-decoration: none;
        }
        >span {
          font-size: 14px;
          font-weight: $font-weight-bold;
          color: #777;
          letter-spacing: 0.04em;
          display: flex;
          flex-direction: column;
          .user-level {
            color: #555;
            font-weight: 700;
            font-size: 13px;
            letter-spacing: 0.05em;
            margin-top: 5px;
          }
        }
        .link-collapse {
          padding: 7px 0;
        }
      }
      .caret {
        position: absolute;
        top: 17px;
        right: 0px;
        border-top-color: #777;
      }
    }
  }
  .sidebar-wrapper {
    position: relative;
    max-height: calc(100vh - 75px);
    min-height: 100%;
    overflow: auto;
    width: 260px;
    z-index: 4;
    padding-top: 55px;
    padding-bottom: 100px;
  }
  .nav {
    display: block;
    float: none;
    margin-top: 20px;
    .nav-item {
      display: list-item;
      &.active {
        a {
          color: $body-text-color;
          font-weight: 700;
          &:before {
            background: #1d7af3;
            opacity: 1 !important;
            position: absolute;
            z-index: 1;
            width: 3px;
            height: 100%;
            content: '';
            left: 0;
            top: 0;
          }
        }
        &:hover a:before {
          background: #1d7af3;
          opacity: 1 !important;
          position: absolute;
          z-index: 1;
          width: 3px;
          height: 100%;
          content: '';
          left: 0;
          top: 0;
        }
        a i {
          color: #4d7cfe;
        }
      }
      a {
        display: flex;
        align-items: center;
        color: #83848a;
        padding: 13px 25px;
        width: 100%;
        font-size: 14px;
        font-weight: $font-weight-bold;
        position: relative;
        margin-bottom: 5px;
        &:hover,
        &:focus {
          text-decoration: none;
          background: #fbfbfb;
        }
      }
      &:hover a:before {
        background: #1d7af3;
        opacity: 0.7;
        position: absolute;
        z-index: 1;
        width: 3px;
        height: 100%;
        content: '';
        left: 0;
        top: 0;
      }
      a {
        i {
          font-size: 23px;
          color: #C3C5CA;
          margin-right: 15px;
          width: 25px;
          text-align: center;
          vertical-align: middle;
          float: left;
        }
        p {
          font-size: 14px;
          margin-bottom: 0px;
          letter-spacing: .04em;
          margin-right: 5px;
        }
      }
    }
  }
}

.main-panel {
  position: relative;
  width: calc(100% - 1px);
  min-height: 100%;
  float: right;
  background: #fff;
  .content {
    padding: 30px 1px;
    min-height: calc(100% - 123px);
    margin-top: 55px;    
  }
}

.footer {
  border-top: 1px solid #eee;
  padding: 15px;
  background: $white-color;
  .container-fluid {
    display: flex;
    align-items: center;
  }
}

.author {
  .camer-pic {
    display: inline-block;
    position: relative;
    .e51lmc {
      background: url(../assets/images/photo_camera_white_24dp.png);
      background-size: auto auto;
      background-size: 24px;
      height: 24px;
      width: 24px;
    }
  }
}

.normal-background {
  background: linear-gradient(#ffffff, #fefefe);
}

.html5-directory-slider {
  background-size: auto auto;
  background-size: cover;
  min-height: 800px;
}

.html5-directory-grid {
  position: relative;
  margin: 0 auto;
  padding: 1em 0 4em;
  max-width: 1000px;
  list-style: none;
  text-align: center;
}

/* Common style */

.html5-directory-grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 0;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.html5-directory-grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  width: 100%;
  opacity: 0.8;
}

.html5-directory-grid figure figcaption {
  padding: 2em;
  color: rgb(240, 240, 240);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@media (max-width: 992px) {
  .html5-directory-grid figure figcaption {
    padding: 0.7em;
  }
}

.html5-directory-grid figure figcaption h5 {
  font-weight: 400;
  text-align: center;
}

@media (max-width: 992px) {
  .html5-directory-grid figure figcaption h5 {
    font-size: 22px;
  }
}

.html5-directory-grid figure figcaption::before,
.html5-directory-grid figure figcaption::after {
  pointer-events: none;
}

.html5-directory-grid figure figcaption,
.html5-directory-grid figure figcaption>a {
  // 	position: absolute;
  // 	bottom: 0;
  // 	left: 0;
}

/* Anchor will cover the whole item by default */

/* For some effects it will show as a button */

.html5-directory-grid figure figcaption>a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.html5-directory-grid figure h5 {
  word-spacing: -0.15em;
  font-weight: 300;
}

.html5-directory-grid figure h5 span {
  font-weight: 800;
}

.html5-directory-grid figure h5,
.html5-directory-grid figure p {
  margin: 0;
}

.html5-directory-grid figure p {
  letter-spacing: 1px;
  font-weight: 300;
  text-align: left;
  margin: 6px 0 0;
}

/* Individual effects */

/*---------------*/

/***** Ruby *****/

/*---------------*/

figure.effect-ruby img {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

figure.effect-ruby:hover {
  -webkit-transform: scale(1);
  transform: scale(1);
  color: rgb(255, 255, 255);
}

figure.effect-ruby h2 {
  margin-top: 20%;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
}

figure.effect-ruby:hover h2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.required-indicator {
  color: $red;
  font-size: 70%;
  position: relative;
  bottom: 10px;
}

.star-admin-form-check label,
.star-admin-form-radio label {
  display: block;
  padding-left: 30px;
  font-size: 13px;
  line-height: 1.42857143;
}

.no-link:hover {
  text-decoration: none;
  color: $white-color;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
