/*     Responsive     */

@media screen and (max-width: 700px) {
  .row-card-no-pd {
    [class*=col-] .card:after {
      width: 0px !important;
    }
    .card {
      border-bottom-width: 1px;
      &:last-child {
        border-bottom-width: 0px;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .main-header .logo-header {
    line-height: 52px;
  }
  .sidebar {
    .scroll-element {
      opacity: 0;
      transition: all .2s;
    }
    &:hover .scroll-element {
      opacity: 1;
    }
  }

.logo-title{
  display: none;
}
}
@media screen and (max-width: 991px) {
  .whatsapp-slides{
    width: 100% !important;
    margin-left:0px !important;
}
.schedule-contact{
  width:100% !important;
}
.neet-powerplay-books{
    width: 100% !important;
    margin-left:0px !important;
}
  .row-bg-demo{
    height: 730px !important;
    margin-top: -10px !important;
    background: url(/assets/images/login-wall.jpg) 293% 75% !important;
  }
  .b-letter__txt{
    padding-top:2em;
  }
  .main-section{
    width:85% !important;
  }
  .nav-item{
    width:100%;
    text-align: center;
    float: left;
    background: #b2bec3;
    color: white;
    display: block;
  }
  .fa-bars{
    color:white
  }
  .img-circle{
    height: 45px;
    width: 100px;
  }
  .no-link{
    line-height: 40px;
    margin-right:35px;
  }
  .nav-link{
    color:white;
  }
  .w--current {
    opacity: 0.9;
    width: 100%;
    background: deepskyblue !important;
    border-bottom: 5px solid deepskyblue !important;
    color:black  !important;
  }
  a.nav-link,.nav-link-login{
    font-size:10px !important;
    line-height: 25px  !important;
    padding-right: 0px;
    height: 100%;
    color:white !important;
  }
  .navbar-expand-lg{
    height: auto;
    padding-left:0px;
    padding-right:0px;
  }
  .container{
     width : 100% !important;
   }
  .sidebar {
    position: fixed;
    left: 0 !important;
    right: 0;
    -webkit-transform: translate3d(-270px, 0, 0);
    -moz-transform: translate3d(-270px, 0, 0);
    -o-transform: translate3d(-270px, 0, 0);
    -ms-transform: translate3d(-270px, 0, 0);
    transform: translate3d(-270px, 0, 0) !important;
    transition: all .5s;
  }
  .nav_open .sidebar {
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -o-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0) !important;
  }
  .sidebar .sidebar-wrapper {
    padding-top: 0px;
  }
  .nav_open {
    overflow: hidden !important;
    .main-panel,
    .main-header {
      -webkit-transform: translate3d(260px, 0, 0);
      -moz-transform: translate3d(260px, 0, 0);
      -o-transform: translate3d(260px, 0, 0);
      -ms-transform: translate3d(260px, 0, 0);
      transform: translate3d(260px, 0, 0) !important;
    }
  }
  .main-header {
    transition: all .5s;
    background: #b2bec3;
    min-height: 35px;
    max-height:45px;
  }
  .logo-title{
    display: inline;
  }
  .main-panel {
    width: 100%;
    transition: all .5s;
    .content {
      padding: 30px 1px;
      padding-top:0px;
    }
  }
  .main-header .logo-header {
    display: flex;
    width: 100% !important;
    text-align: left;
    position: relative;
    justify-content: center;
    .navbar-toggler {
      position: absolute;
      top: auto;
      height: 100%;
      left: 15px;
      opacity: 1;
    }
    .more {
      opacity: 1;
      position: absolute;
      right: 15px;
      color: #545454;
      cursor: pointer;
    }    
  }
  .nav-search {
    width: 100%;
    margin-right: 0 !important;
    margin-top: 12px;
  }
  .navbar-header {
    border-top: 1px solid #eee;
    position: absolute;
    width: 100%;
    background: $white-color;
    transform: translate3d(0, -300px, 0) !important;
    transition: all .5s;
    margin-top:-10px;
  }
  .topbar_open {
    .navbar-header {
      transform: translate3d(0, 54px, 0) !important;
      border-bottom: 1px solid #eee;
    }
    .main-panel {
      transform: translate3d(0, 125px, 0) !important;
    }
  }
  .nav_open.topbar_open .main-panel {
    transform: translate3d(260px, 125px, 0) !important;
  }
  .navbar-header .navbar-nav {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    margin-left: 0px !important;
    margin-top: 10px;
    margin-bottom: 0px;
    position: relative;
    display: block;
    margin-top: 0px;
    padding-right: 0px;
    .dropdown {
      position: unset;
    }
    .dropdown-menu {
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      max-width: 280px;
    }
  }
  .profile-pic span {
    display: none;
  }
  .justify-content-start > li{
    width: 50%;
  }
  .justify-content-start > li.nav-item > a.active{
    color: #b2bec3 !important;
    font-size: 14px !important;
  }
  .schedule-btn{
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    width: 100%;
  }
}
