/* 
.navbar {
  &.fixed-top {
    + .container-fluid {
      padding-top: 3.5rem;
    }
  }
}

.sidebar-icon-only {
  @media (min-width: 992px) {
    .navbar {
      .navbar-brand-wrapper {
        width: $sidebar-width-icon;
        .brand-logo {
          display: none;
        }
        .brand-logo-mini {
          display: inline-block;
        }
      }
      .navbar-menu-wrapper {
        width: calc(100% - #{$sidebar-width-icon});
      }
    }
    .sidebar {
      width: $sidebar-width-icon;
      box-shadow: 7px -18px 30px rgba(0, 0, 0, 0.07);
      .user-info{
        display:none;
      }
      .nav {
        padding: 10px 0px 10px 0px;
        max-height: calc( 100vh - 70px);
        overflow: visible;
        .nav-item {
          position: relative;
          .nav-link {
            text-align: center;
            display: block;
            img{
              margin-right: auto;
              margin-left: auto;
            }
            .menu-title {
              display: none;
              &.show {
                i{
                  display: none;
                }
                position: absolute;
                left: $sidebar-width-icon;
                top: 0;
                background:$white;
                display: inline-block;
                text-align: left;
                width: $sidebar-width-lg;
                max-width: none;
                overflow: visible;
                padding: 1rem;
                z-index: 1;
                font-weight: 600;
                font-size: 0.81rem;
                color: darken(color(gray-light), 15%);
                box-shadow: 9px 3px 10px rgba(0, 0, 0, 0.08);
              }
            }
          }
          .collapse{
            &.show{
              width: $sidebar-width-lg;
              padding: 0 20px;
              background: $white;
              z-index: 1;
              position: absolute;
              left: $sidebar-width-icon;
              box-shadow: 9px 3px 10px rgba(0, 0, 0, 0.08);
              color: darken(color(gray-light), 15%)
            }
          }
        }
        &.sub-menu {
          padding-left: 0;
          padding-top: 0;
          .nav-item {
            .nav-link {
              padding: 8px 20px 8px 15px;
              text-align: left;
              font-size: 13px;
              font-weight: 500;
            }
          }
        }
      }
    }
    .content-wrapper,.footer {
      margin-left: $sidebar-width-icon;
      width: calc(100% - #{$sidebar-width-icon});
    }
  }
} */

.main-header {
  min-height: 55px;
  width: 100%;
  background: $white;
  position: fixed;
  z-index: 1001;
  border-bottom: 1px solid #eee;
  .logo-header {
    float: left;
    width: 260px;
    height: 55px;
    line-height: 55px;
    border-right: 1px solid #eee;
    color: $black;
    z-index: 1001;
    font-size: 18px;
    font-weight: $font-weight-bold;
    padding-left: 25px;
    padding-right: 25px;
    z-index: 1001;
    display: inline-block;
    a.logo {
      color: $body-text-color;
    }
    .navbar-toggler {
      padding-left: 0px;
      padding-right: 0px;
      opacity: 0;
      .navbar-toggler-icon {
        background: url(../assets/images/menu2.png);
        background-size: cover;
        height: 1em;
        width: 1em;
        opacity: .8;
      }
    }
    .more {
      background: $transparent-bg;
      border: 0;
      font-size: 26px;
      padding: 0;
      opacity: 0;
    }
  }
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 260px;
  display: block;
  z-index: 1;
  color: $white;
  font-weight: 200;
  background: $white;
  background-size: cover;
  background-position: center center;
  border-right: 1px solid #eee;
  box-shadow: 6px 1px 20px rgba(69, 65, 78, 0.1);
  .user {
    margin-top: 12.5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 12.5px;
    border-bottom: 1px solid #eee;
    display: block;
    .photo {
      width: 40px;
      height: 40px;
      overflow: hidden;
      float: left;
      margin-right: 11px;
      z-index: 5;
      border-radius: 50%;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .info {
      a {
        white-space: nowrap;
        display: block;
        position: relative;
        &:hover, &:focus {
          text-decoration: none;
        }
        > span {
          font-size: 14px;
          font-weight: $font-weight-bold;
          color: #777;
          letter-spacing: 0.04em;
          display: flex;
          flex-direction: column;
          .user-level {
            color: #555;
            font-weight: 700;
            font-size: 13px;
            letter-spacing: 0.05em;
            margin-top: 5px;
          }
        }
        .link-collapse {
          padding: 7px 0;
        }
      }
      .caret {
        position: absolute;
        top: 17px;
        right: 0px;
        border-top-color: #777;
      }
    }
  }
  .sidebar-wrapper {
    position: relative;
    max-height: calc(100vh - 75px);
    min-height: 100%;
    overflow: auto;
    width: 260px;
    z-index: 4;
    padding-top: 55px;
    padding-bottom: 100px;
  }
  .nav {
    display: block;
    float: none;
    margin-top: 20px;
    .nav-item {
      display: list-item;
      &.active {
        a {
          color: $body-text-color;
          font-weight: 700;
          &:before {
            background: #1d7af3;
            opacity: 1 !important;
            position: absolute;
            z-index: 1;
            width: 3px;
            height: 100%;
            content: '';
            left: 0;
            top: 0;
          }
        }
        &:hover a:before {
          background: #1d7af3;
          opacity: 1 !important;
          position: absolute;
          z-index: 1;
          width: 3px;
          height: 100%;
          content: '';
          left: 0;
          top: 0;
        }
        a i {
          color: #4d7cfe;
        }
      }
      a {
        display: flex;
        align-items: center;
        color: #83848a;
        padding: 13px 25px;
        width: 100%;
        font-size: 14px;
        font-weight: $font-weight-bold;
        position: relative;
        margin-bottom: 5px;
        &:hover, &:focus {
          text-decoration: none;
          background: #fbfbfb;
        }
      }
      &:hover a:before {
        background: #1d7af3;
        opacity: 0.7;
        position: absolute;
        z-index: 1;
        width: 3px;
        height: 100%;
        content: '';
        left: 0;
        top: 0;
      }
      a {
        i {
          font-size: 23px;
          color: #C3C5CA;
          margin-right: 15px;
          width: 25px;
          text-align: center;
          vertical-align: middle;
          float: left;
        }
        p {
          font-size: 14px;
          margin-bottom: 0px;
          letter-spacing: .04em;
          margin-right: 5px;
        }
      }
    }
  }
}
