<!--The content below is only a placeholder and can be replaced.-->
<app-app-navbar>
</app-app-navbar>

<ng4-loading-spinner [threshold]="2000"> </ng4-loading-spinner>


<main class="main" role="main">
  <div data-ix="onload-company" class="b-hero hero--company">
    <div class="b-hero__content">
      <div class="container">
        <div class="b-hero__top-sub">
          <h4 data-ix="ia-overflow-hidden" class="top-sub__txt" style="transform: translateX(0px) translateY(0px) translateZ(0px); transform-style: preserve-3d; transition: transform 400ms ease 0s;">questionable people</h4>
          <div data-ix="ia-no-width" class="hero__date-c" style="transform: scaleX(1) scaleY(1) scaleZ(1); transform-style: preserve-3d; transition: transform 400ms ease 0s;"></div>
        </div>
        <div data-tilt="true" class="c-art-company" data-tilt-glare="true" data-tilt-perspective="3000" data-ix="onload-art" data-tilt-maxtilt="40"
          data-tilt-maxglare="0.5" data-tilt-speed="2000" style="will-change: transform; transform: perspective(3000px) rotateX(2.39deg) rotateY(0.03deg) scale3d(1, 1, 1);">
          <img data-ix="ia-mask" class="c-art__mask" style="transform: scaleX(1) scaleY(1) scaleZ(1); transform-style: preserve-3d; transition: transform 3000ms ease-in-out 0s;">
          <div class="c-art__inner">
            <div data-ix="ia-blob" class="c-art__blob comp-b1 w-embed" style="opacity: 1; transform: scaleX(1) scaleY(1) scaleZ(1); transform-style: preserve-3d; transition: opacity 200ms ease 0s, transform 2000ms ease-in-out 0s;">
              <svg viewBox="0 0 373 360" version="1.1" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink">
                <g id="Unused" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <path d="M184.176187,359.362118 C98.4112535,346.57779 -3.84693656,256.666036 0.111444994,181.786403 C4.39969167,102.973131 103.029365,3.22727897 199.679848,0.13656242 C456.809716,-8.29266453 405.350756,376.361059 184.176187,359.362118 Z"
                    id="blob-1" fill="#6E1AE6" fill-rule="nonzero"></path>
                </g>
              </svg>
            </div>
            <div data-ix="ia-blob" class="c-art__blob comp-b2 w-embed" style="opacity: 1; transform: scaleX(1) scaleY(1) scaleZ(1); transform-style: preserve-3d; transition: opacity 200ms ease 0s, transform 2000ms ease-in-out 0s;">
              <svg viewBox="0 0 847 910" version="1.1" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink">
                <g id="Unused" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <path d="M434.400306,862.687181 C254.47966,870.258591 128.308986,876.109226 26.3933154,716.765465 C-91.0162913,534.019166 -13.2022998,300.337928 118.668314,149.598043 C213.69779,41.533376 418.21775,-18.0054372 562.483513,28.1113314 C733.949743,83.1761298 883.035841,393.948085 833.110935,561.20741 C783.530339,725.713495 604.489296,870.258591 434.400306,862.687181 Z"
                    id="blob-2" fill="#01CFEC" fill-rule="nonzero" transform="translate(405.835715, 439.039584) rotate(-30.000000) translate(-405.835715, -439.039584) "></path>
                </g>
              </svg>
            </div>
            <div data-ix="ia-blob" class="c-art__blob comp-b3 w-embed" style="opacity: 1; transform: scaleX(1) scaleY(1) scaleZ(1); transform-style: preserve-3d; transition: opacity 200ms ease 0s, transform 2000ms ease-in-out 0s;">
              <svg viewBox="0 0 607 535" version="1.1" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink">
                <g id="Unused" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <path d="M300.579884,569.675398 C177.391387,548.127098 30.5127945,396.578611 36.1984175,270.367138 C42.3578423,137.525417 184.024614,-30.5986848 322.848574,-35.8081641 C692.177165,-50.0158347 618.264066,598.327534 300.579884,569.675398 Z"
                    id="blob-3" fill="#17F3AF" fill-rule="nonzero" transform="translate(303.318162, 267.279818) rotate(90.000000) translate(-303.318162, -267.279818) "></path>
                </g>
              </svg>
            </div>
            <div data-ix="ia-blob" class="c-art__blob comp-b4 w-embed" style="opacity: 1; transform: scaleX(1) scaleY(1) scaleZ(1); transform-style: preserve-3d; transition: opacity 200ms ease 0s, transform 2000ms ease-in-out 0s;">
              <svg viewBox="0 0 364 352" version="1.1" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink">
                <g id="Unused" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <path d="M24.2653318,69.6506651 C74.9074818,9.13030052 204.065342,-23.3202713 271.242435,19.6071473 C341.89328,64.8853628 389.071645,195.346221 348.11878,272.853138 C239.357734,479.163177 -91.6232796,234.216025 24.2653318,69.6506651 Z"
                    id="blob-4" fill="#FFD900" fill-rule="nonzero"></path>
                </g>
              </svg>
            </div>
            <div data-ix="ia-blob" class="c-art__blob comp-b5 w-embed" style="opacity: 1; transform: scaleX(1) scaleY(1) scaleZ(1); transform-style: preserve-3d; transition: opacity 200ms ease 0s, transform 2000ms ease-in-out 0s;">
              <svg viewBox="0 0 375 443" version="1.1" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink">
                <g id="Unused" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <path d="M40.5343859,285.968949 C5.24205851,197.756266 -19.707983,135.969646 21.0928618,63.8752396 C67.7911445,-19.068311 168.654499,-12.0729157 248.462166,32.9487104 C305.764715,65.4685561 364.80445,158.854861 373.714313,236.643299 C384.210092,329.132501 295.666503,445.098587 224.51451,442.953914 C154.447545,440.607717 68.4260954,371.352981 40.5343859,285.968949 Z"
                    id="blob-5" fill="#FF1400" fill-rule="nonzero"></path>
                </g>
              </svg>
            </div>
            <div data-ix="ia-blob" class="c-art__blob comp-b6 w-embed" style="opacity: 1; transform: scaleX(1) scaleY(1) scaleZ(1); transform-style: preserve-3d; transition: opacity 200ms ease 0s, transform 2000ms ease-in-out 0s;">
              <svg viewBox="0 0 500 483" version="1.1" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink">
                <g id="Unused" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <path d="M247.118879,482.175057 C132.043556,465.021653 -5.16163714,344.382322 0.149531611,243.91238 C5.90329776,138.164467 138.239919,4.33020996 267.920956,0.183232983 C612.925627,-11.1267042 543.880433,504.983431 247.118879,482.175057 Z"
                    id="blob-6" fill="#6E1AE6" fill-rule="nonzero"></path>
                </g>
              </svg>
            </div>
            <div data-ix="ia-blob" class="c-art__blob comp-b7 w-embed" style="opacity: 1; transform: scaleX(1) scaleY(1) scaleZ(1); transform-style: preserve-3d; transition: opacity 200ms ease 0s, transform 2000ms ease-in-out 0s;">
              <svg viewBox="0 0 373 360" version="1.1" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink">
                <g id="Unused" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <path d="M184.176187,359.362118 C98.4112535,346.57779 -3.84693656,256.666036 0.111444994,181.786403 C4.39969167,102.973131 103.029365,3.22727897 199.679848,0.13656242 C456.809716,-8.29266453 405.350756,376.361059 184.176187,359.362118 Z"
                    id="blob-7" fill="#4C1599" fill-rule="nonzero"></path>
                </g>
              </svg>
            </div>
            <div data-ix="ia-blob" class="c-art__blob comp-b8 w-embed" style="opacity: 1; transform: scaleX(1) scaleY(1) scaleZ(1); transform-style: preserve-3d; transition: opacity 200ms ease 0s, transform 2000ms ease-in-out 0s;">
              <svg viewBox="0 0 347 442" version="1.1" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink">
                <g id="Unused" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <path d="M342.686706,231.689043 C329.917092,321.809937 321.178647,385.046023 248.525718,424.559571 C165.156221,470.138195 78.5633473,414.919286 29.8761259,338.631117 C-4.98429372,283.695485 -10.8312624,177.662525 20.2722385,109.079857 C57.341264,27.5841615 194.676002,-24.7418675 257.162275,11.9079454 C318.578045,48.1922285 360.647157,147.531075 342.686706,231.689043 Z"
                    id="blob-8" fill="#FF5800" fill-rule="nonzero"></path>
                </g>
              </svg>
            </div>
          </div>
          <div class="js-tilt-glare" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden;">
            <div class="js-tilt-glare-inner" style="position: absolute; top: 50%; left: 50%; pointer-events: none; background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%); width: 940px; height: 940px; transform: rotate(-178.805deg) translate(-50%, -50%); transform-origin: 0% 0% 0px; opacity: 0.309807;"></div>
          </div>
        </div>
        <div class="b-hero__subtitle">
          <div data-ix="ia-no-width" class="hero__date-c" style="transform: scaleX(1) scaleY(1) scaleZ(1); transform-style: preserve-3d; transition: transform 400ms ease 0s;"></div>
          <div data-ix="ia-overflow-hidden" class="b-hero__label" style="transform: translateX(0px) translateY(0px) translateZ(0px); transform-style: preserve-3d; transition: transform 400ms ease 0s;">10 Years Strong.</div>
        </div>
      </div>
    </div>
    <a href="#letter" data-ix="hero-scroll" class="b-hero__scroll w-inline-block" style="transition: opacity 200ms ease 0s; opacity: 1;">
      <div class="fs-body-caption">Scroll</div>
    </a>
    <a class="b-hero__mail w-inline-block" href="/#/contact">
      <div class="fs-body-caption hero__mail-label">Let's Collaborate</div>
      <div class="hero__mail-icn">@</div>
    </a>
  </div>
  <div class="b-letter" id="letter">
    <div class="b-letter__blob" data-ix="onscroll-scaleslowin-1" style="opacity: 0; transform: rotateX(0deg) rotateY(0deg) rotateZ(-180deg);">
      <div class="blob w-embed">
        <canvas class="bubble blob" data-stroke-width="20" data-stroke-color="#17F3AF" data-fill="#17F3AF" id="bubble-0" style="-moz-user-select: none;"
          width="295" height="295"></canvas>
      </div>
    </div>
    <div class="container">
      <div class="b-letter__txt">
        <div class="c-offset">
          <h1 data-ix="onscroll-fadein-4" style="opacity: 0; transform: translateX(0px) translateY(50%) translateZ(0px);">A letter from
            <br>The Brothers Debiak</h1>
          <div class="c-txt-deco" data-ix="onscroll-fadein-5" style="opacity: 0; transform: translateX(0px) translateY(50%) translateZ(0px);">
            <div class="c-txt-deco__line"></div>
            <div class="c-txt-deco__label fs-body-caption">PAPER TIGER CO-FOUNDERS</div>
            <p>Paper Tiger was founded in 2007 out of a desire to
              <strong>solve problems</strong>
              through design. We cut our teeth working in the music industry for 10 years before we started this company and it was like
              boot camp for running an agency. We learned about creative personality types, tight deadlines, shoestring budgets,
              and DIY work ethics.&nbsp;
              <br>
              <br>In 2007, everyone was thinking outside-the-box. We noticed the box was empty and moved right in. Now we occupy
              the whole thing with ideas so practical that they push creative boundries.</p>
          </div>
          <div data-ix="onscroll-fade-image" class="b-letter__pic lozad" style="opacity: 0.35;">
            <img class="b-letter__img">
          </div>
        </div>
      </div>
      <div class="fs-deco">THINK
        <br>INSIDE
        <br>THE BOX</div>
    </div>
  </div>
  <div class="b-creative">
    <div class="container">
      <div class="b-creative__txt">
        <div class="c-centered">
          <p class="fs-body-lead">We do this because
            <strong>love design</strong>, we enjoy working with
            <strong>good people</strong>, and we are allergic to poor user experiences. We just happen to be lucky enough to love
            it. We needed to...</p>
        </div>
      </div>
      <div class="b-creative__deco">
        <img data-ix="onscroll-fadein-1" class="b-creative__brush" style="opacity: 0; transform: translateX(0px) translateY(50%) translateZ(0px);"
          width="1540">
      </div>
      <div data-ix="onscroll-fade-image" class="b-creative__pic" style="opacity: 0.35;">
        <img class="b-creative__img lozad">
      </div>
    </div>
  </div>

  <div class="b-rules">
    <div class="b-rules__blob w-embed" data-ix="onscroll-scaleslowin-1" style="opacity: 0; transform: rotateX(0deg) rotateY(0deg) rotateZ(-180deg);">
      <canvas class="bubble b-rules__blob" data-stroke-width="20" data-stroke-color="#6E1AE6" data-fill="#6E1AE6" id="bubble-1"
        style="-moz-user-select: none;" width="819" height="819"></canvas>
    </div>
    <div class="container">
      <div class="c-section-intro">
        <div class="c-offset">
          <div class="c-number" data-ix="onscroll-fadein-1" style="opacity: 0; transform: translateX(0px) translateY(50%) translateZ(0px);">
            <div class="c-number__line"></div>
            <div class="c-number__value">OUR VALUES</div>
          </div>
          <div class="c-wrap">
            <h2 data-ix="onscroll-fadein-2" style="opacity: 0; transform: translateX(0px) translateY(50%) translateZ(0px);">EXPRESSING OURSELVES CREATIVELY WHILE HELPING OTHERS TO SUCCEED.</h2>
          </div>
          <p data-ix="onscroll-fadein-3" style="opacity: 0; transform: translateX(0px) translateY(50%) translateZ(0px);">Paper Tiger took off quickly and we have since built a big family of employees and clients all over the world who
            share our passion for great design and user experiences. We continue to practice the same basic principles.
          </p>
        </div>
      </div>
      <ul class="b-rules__list">
        <li class="b-rules__item">
          <div class="b-rules__no" data-ix="onscroll-fadein-1" style="opacity: 0; transform: translateX(0px) translateY(50%) translateZ(0px);">01</div>
          <h3 class="b-rules__label" data-ix="onscroll-fadein-1" style="opacity: 0; transform: translateX(0px) translateY(50%) translateZ(0px);">Do great
            <br>work</h3>
        </li>
        <li class="b-rules__item">
          <div class="b-rules__no" data-ix="onscroll-fadein-2" style="opacity: 0; transform: translateX(0px) translateY(50%) translateZ(0px);">02</div>
          <h3 class="b-rules__label" data-ix="onscroll-fadein-2" style="opacity: 0; transform: translateX(0px) translateY(50%) translateZ(0px);">Don’t waste anyone’s
            <br>time or money</h3>
        </li>
        <li class="b-rules__item">
          <div class="b-rules__no" data-ix="onscroll-fadein-3" style="opacity: 0; transform: translateX(0px) translateY(50%) translateZ(0px);">03</div>
          <h3 class="b-rules__label" data-ix="onscroll-fadein-3" style="opacity: 0; transform: translateX(0px) translateY(50%) translateZ(0px);">invent something
            <br>new every time</h3>
        </li>
        <li class="b-rules__item">
          <div class="b-rules__no" data-ix="onscroll-fadein-4" style="opacity: 0; transform: translateX(0px) translateY(50%) translateZ(0px);">04</div>
          <h3 class="b-rules__label" data-ix="onscroll-fadein-4" style="opacity: 0; transform: translateX(0px) translateY(50%) translateZ(0px);">Treat each other with kindness and respect</h3>
        </li>
        <li class="b-rules__item">
          <div class="b-rules__no" data-ix="onscroll-fadein-5" style="opacity: 0; transform: translateX(0px) translateY(50%) translateZ(0px);">05</div>
          <h3 class="b-rules__label" data-ix="onscroll-fadein-5" style="opacity: 0; transform: translateX(0px) translateY(50%) translateZ(0px);">HAVE A LOT
            <br>OF FUN</h3>
        </li>
      </ul>
    </div>
  </div>
  <div class="b-skills">
    <div class="c-divider"></div>
    <div class="container">
      <div class="c-section-intro">
        <div class="c-offset">
          <div class="c-number" data-ix="onscroll-fadein-1" style="opacity: 0; transform: translateX(0px) translateY(50%) translateZ(0px);">
            <div class="c-number__line"></div>
            <div class="c-number__value">OUR services</div>
          </div>
          <h2 data-ix="onscroll-fadein-2" style="opacity: 0; transform: translateX(0px) translateY(50%) translateZ(0px);">WHAT WE CAN DO FOR YOUR BUSINESS</h2>
          <a class="c-mini-cta w-inline-block" href="https://www.papertiger.com/process">
            <div class="fs-body-small w-clearfix" data-ix="onscroll-fadein-3" style="opacity: 0; transform: translateX(0px) translateY(50%) translateZ(0px);">
              <span class="fs-bold">
                <span class="fs-ascii">►</span>Discover Our Process</span>
            </div>
          </a>
        </div>
      </div>
      <div class="c-grid">
        <div class="b-skills__item">
          <img class="b-skills__icon">
          <div class="b-skills__label">Branding</div>
        </div>
        <div class="b-skills__item">
          <img class="b-skills__icon">
          <div class="b-skills__label">Interface Design</div>
        </div>
        <div class="b-skills__item">
          <img class="b-skills__icon">
          <div class="b-skills__label">Performance Optimization</div>
        </div>
        <div class="b-skills__item">
          <img class="b-skills__icon">
          <div class="b-skills__label">SEO &amp; Marketing</div>
        </div>
        <div class="b-skills__item">
          <img class="b-skills__icon">
          <div class="b-skills__label">Technical Consulting</div>
        </div>
        <div class="b-skills__item">
          <img class="b-skills__icon">
          <div class="b-skills__label">User Experience Design</div>
        </div>
        <div class="b-skills__item">
          <img class="b-skills__icon">
          <div class="b-skills__label">Website Development</div>
        </div>
        <div class="b-skills__item">
          <img class="b-skills__icon">
          <div class="b-skills__label">Mobile App Design</div>
        </div>
      </div>
    </div>
  </div>
  <div class="b-collab">
    <div class="container">
      <div class="c-row">
        <div class="c-column">
          <div data-ix="onscroll-art" class="c-art-collab">
            <img data-ix="ia-mask" class="c-art__mask" style="transform: scaleX(1.1) scaleY(1.1) scaleZ(1);">
            <div class="c-art__inner">
              <div data-ix="ia-blob" class="c-art__blob coll-b1 w-embed" style="opacity: 0; transform: scaleX(0.01) scaleY(0.01) scaleZ(1);">
                <svg viewBox="0 0 373 360" version="1.1" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink">
                  <g id="Slides" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <path d="M184.176187,359.362118 C98.4112535,346.57779 -3.84693656,256.666036 0.111444994,181.786403 C4.39969167,102.973131 103.029365,3.22727897 199.679848,0.13656242 C456.809716,-8.29266453 405.350756,376.361059 184.176187,359.362118 Z"
                      id="blob-1" fill="#6E1AE6" fill-rule="nonzero"></path>
                  </g>
                </svg>
              </div>
              <div data-ix="ia-blob" class="c-art__blob coll-b2 w-embed" style="opacity: 0; transform: scaleX(0.01) scaleY(0.01) scaleZ(1);">
                <svg viewBox="0 0 622 668" version="1.1" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink">
                  <g id="Slides" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <path d="M471.464233,581.114039 C359.862083,651.965411 281.798872,701.994469 158.522446,638.10176 C16.8063863,565.018216 -19.4950909,387.898966 9.01166557,243.667199 C29.7608566,140.08755 137.927464,27.1699609 246.568378,3.53658701 C375.785757,-24.3918923 584.630027,118.455022 614.281996,243.111397 C643.142305,365.891076 582.374106,523.498035 471.464233,581.114039 Z"
                      id="blob-2" fill="#01CFEC" fill-rule="nonzero"></path>
                  </g>
                </svg>
              </div>
              <div data-ix="ia-blob" class="c-art__blob coll-b3 w-embed" style="opacity: 0; transform: scaleX(0.01) scaleY(0.01) scaleZ(1);">
                <svg viewBox="0 0 709 625" version="1.1" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink">
                  <g id="Slides" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <path d="M1.07791053,309.080517 C26.2541449,165.151649 203.317771,-6.4558462 350.778572,0.187024592 C505.985907,7.38346795 702.415867,172.901665 708.502429,335.098427 C725.102144,766.608243 -32.3981813,680.250922 1.07791053,309.080517 Z"
                      id="blob-3" fill="#17F3AF" fill-rule="nonzero"></path>
                  </g>
                </svg>
              </div>
              <div data-ix="ia-blob" class="c-art__blob coll-b4 w-embed" style="opacity: 0; transform: scaleX(0.01) scaleY(0.01) scaleZ(1);">
                <svg viewBox="0 0 468 453" version="1.1" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink">
                  <g id="Slides" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <path d="M31.2116935,89.5893462 C96.3510156,11.7440035 262.482498,-29.9960935 348.890171,25.2200249 C439.766016,83.4598955 500.449985,251.267382 447.77367,350.961964 C307.877935,616.331742 -117.851993,301.264324 31.2116935,89.5893462 Z"
                      id="blob-4" fill="#FFD900" fill-rule="nonzero"></path>
                  </g>
                </svg>
              </div>
              <div data-ix="ia-blob" class="c-art__blob coll-b5 w-embed" style="opacity: 0; transform: scaleX(0.01) scaleY(0.01) scaleZ(1);">
                <svg viewBox="0 0 375 443" version="1.1" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink">
                  <g id="Slides" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <path d="M40.5343859,285.968949 C5.24205851,197.756266 -19.707983,135.969646 21.0928618,63.8752396 C67.7911445,-19.068311 168.654499,-12.0729157 248.462166,32.9487104 C305.764715,65.4685561 364.80445,158.854861 373.714313,236.643299 C384.210092,329.132501 295.666503,445.098587 224.51451,442.953914 C154.447545,440.607717 68.4260954,371.352981 40.5343859,285.968949 Z"
                      id="blob-5" fill="#FF1400" fill-rule="nonzero"></path>
                  </g>
                </svg>
              </div>
              <div data-ix="ia-blob" class="c-art__blob coll-b6 w-embed" style="opacity: 0; transform: scaleX(0.01) scaleY(0.01) scaleZ(1);">
                <svg viewBox="0 0 373 360" version="1.1" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink">
                  <g id="Slides" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <path d="M184.176187,359.362118 C98.4112535,346.57779 -3.84693656,256.666036 0.111444994,181.786403 C4.39969167,102.973131 103.029365,3.22727897 199.679848,0.13656242 C456.809716,-8.29266453 405.350756,376.361059 184.176187,359.362118 Z"
                      id="blob-6" fill="#6E1AE6" fill-rule="nonzero"></path>
                  </g>
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div class="c-column">
          <div class="b-collab__txt">
            <div data-ix="onscroll-fadein-1" class="c-number" style="opacity: 0; transform: translateX(0px) translateY(50%) translateZ(0px);">
              <div class="c-number__line"></div>
              <div class="c-number__label">NO.</div>
              <div class="c-number__value">03</div>
            </div>
            <div data-ix="onscroll-fadein-2" class="c-wrap" style="opacity: 0; transform: translateX(0px) translateY(50%) translateZ(0px);">
              <h2>Let's start a new project together!</h2>
            </div>
            <a href="https://www.papertiger.com/contact" class="c-mini-cta w-inline-block">
              <div data-ix="onscroll-fadein-3" class="fs-body-small w-clearfix" style="opacity: 0; transform: translateX(0px) translateY(50%) translateZ(0px);">
                <span class="fs-bold w-clearfix">
                  <span class="fs-ascii">►</span>Contact Us</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-app-footer>
  </app-app-footer>
</main>