<div class="div-main">
  <div id="container">

    <div class="page-banner">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>Schedule</h2>
          </div>
        </div>
      </div>
    </div>

    <div id="content">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <!-- Start Latest Posts -->
            <div class="latest-posts-classic">

              <!-- Post 1 -->
              <div class="post-row">
                <div class="post-content" align="justify">
                  <div class="col-sm-12">
                    <p align="center" style="font-size:14px">
                      <a href="https://www.youtube.com/watch?v=6Wc1ytEGYRk" target="_blank" class="btn btn-danger schedule-btn">
                        <b>WATCH THIS VIDEO TO KNOW ABOUT THE SCHEDULE</b>
                      </a>
                    </p>
                  </div>
                  <div class="col-sm-12">
                    <h2>COMPLETE SCHEDULE </h2>
                  </div>
                  <div class="col-sm-12 text-center">
                      <img alt="" src="assets/images/schedule-19-1.jpg">    
                  </div>
                </div>
              </div>



              <!-- Post 2 -->

            </div>
            <!-- End Latest Posts -->
          </div>
        </div>
      </div>
    </div>

    <pp-books></pp-books>
  </div>

    </div>