<div class="row">
  <div class="col-12 px-0">
    <img src="{{images[imageIndex]}}" style="width:100%">
  </div>
</div>

<div style="position: relative;display: flex;width: 100%; padding-top:4rem;">
  <div class="container">
    <ngb-tabset [justify]="currentJustify" (tabChange)="beforeChange($event)">
      <ngb-tab id="tab-payments">
        <ng-template ngbTabTitle>
          <b>Payment</b>
        </ng-template>
        <ng-template ngbTabContent>
          <div class="min-card">
            <div class="card-body">
              <div class="col-12 grid-margin">
                <div class="row">
                  <div class="col-md-9">
                    <table datatable class="table hover table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>Type of Item</th>
                          <th>Amount</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>NEET NBE, AIIMS, PGI test series </td>
                          <td> 6000.00 </td>
                        </tr>
                        <tr>
                          <td>PP books</td>
                          <td>2500.00</td>
                        </tr>
                        <tr>
                          <td>Hard Copies</td>
                          <td>2500.00</td>
                        </tr>
                        <tr>
                          <td>Whats App Discussion Board</td>
                          <td>6000.00</td>
                        </tr>
                        <tr>
                          <td>Youtube Live Interaction</td>
                          <td>
                            <button class="btn btn-success">Free</button>
                          </td>
                        </tr>
                        <tr>
                          <td>Video classes</td>
                          <td>
                            <button class="btn btn-success">Free</button>
                          </td>

                        </tr>
                        <tr>
                          <td>Flip cards</td>
                          <td>
                            <button class="btn btn-success">Free</button>
                          </td>
                        </tr>
                        <tr>
                          <td>Special booklet for NEET</td>
                          <td>500.00</td>
                        </tr>
                        <tr>
                          <td>Special booklet for AIIMS &amp; PGI</td>
                          <td>500.00</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- <div class="col-md-3">
                                            <a href="https://www.instamojo.com/EXPERTSMDSCONQUER/experts-mds-conquer/" class="im-checkout-btn btn--dark" target="_blank"
                                              rel="modal">PAY NOW</a>
                                          </div> -->
                  <div class="col-md-3">
                    <div class="card">
                      <div class="card-header">
                        Featured
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Platimum Combo - 15,000/- for 1st 100</h5>
                        <p class="card-text">
                          <b>Note:</b> You can pay with "PAY NOW" button below and whats app the screenshot to 9xxxxxxxxxxx
                          for your credentials.
                        </p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        <a href="https://www.instamojo.com/EXPERTSMDSCONQUER/experts-mds-conquer/" class="btn btn-success" target="_blank" rel="modal">PAY NOW</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab id="tab-schedule">
        <ng-template ngbTabTitle>
          <b>Schedule &amp; PP Books</b>
        </ng-template>
        <ng-template ngbTabContent>
          <app-schedule></app-schedule>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>