<div data-ix="onload-process" class="b-hero hero--company">
  <div class="b-hero__content">
    <div class="container">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="jumbotron jumbotron-fluid">
          <div class="">
            <h1 class="display-4">Payment Portal</h1>
            <p class="lead">Some mock content if required.</p>
          </div>
        </div>
      <div class="c-contacts">
        

        <div class="row">
          <div class="col-md-9">
            <table datatable class="table hover table-striped table-bordered">
              <thead>
                <tr>
                  <th>Type of Item</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>NEET NBE, AIIMS, PGI test series </td>
                  <td> 6000.00 </td>
                </tr>
                <tr>
                  <td>PP books</td>
                  <td>2500.00</td>
                </tr>
                <tr>
                  <td>Hard Copies</td>
                  <td>2500.00</td>
                </tr>
                <tr>
                  <td>Whats App Discussion Board</td>
                  <td>6000.00</td>
                </tr>
                <tr>
                  <td>Youtube Live Interaction</td>
                  <td><button class="btn btn-success">Free</button></td>
                </tr>
                <tr>
                  <td>Video classes</td>
                  <td><button class="btn btn-success">Free</button></td>

                </tr>
                <tr>
                  <td>Flip cards</td>
                  <td><button class="btn btn-success">Free</button></td>
                </tr>
                <tr>
                  <td>Special booklet for NEET</td>
                  <td>500.00</td>
                </tr>
                <tr>
                  <td>Special booklet for AIIMS & PGI</td>
                  <td>500.00</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- <div class="col-md-3">
          <a href="https://www.instamojo.com/EXPERTSMDSCONQUER/experts-mds-conquer/" class="im-checkout-btn btn--dark" target="_blank"
            rel="modal">PAY NOW</a>
        </div> -->
          <div class="col-md-3">
            <div class="card">
              <div class="card-header">
                Featured
              </div>
              <div class="card-body">
                <h5 class="card-title">Platimum Combo - 15,000/- for 1st 100</h5>
                <p class="card-text"><b>Note:</b> You can pay with "PAY NOW" button below and whats app the screenshot to 9xxxxxxxxxxx for your
                  credentials.
                </p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                <a href="https://www.instamojo.com/EXPERTSMDSCONQUER/experts-mds-conquer/" class="btn btn-success" target="_blank"
                  rel="modal">PAY NOW</a>
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>