<li class="nav-item dropdown" style="width:100%">
  <a class="dropdown-toggle profile-pic" aria-expanded="false">
    <img src="{{profileDetails.image_path}}" alt="user-img" width="36" class="img-circle">
    <span>{{user.firstName||''}}</span>
  </a>
  <ul [ngClass]="{'show': showStyle,'hide': !showStyle  }"class="dropdown-menu dropdown-user">
    <li>
      <div class="user-box">
        <div class="u-img">
          <img src="{{profileDetails.image_path}}" alt="user">
        </div>
        <div class="u-text">
          <h4>{{user.firstName||''}}</h4>       
          <p class="text-muted">{{user.emailId||''}}</p><a [routerLink]="['view-users',user.userId]" class="btn btn-rounded btn-danger btn-sm cmenu-item">View Profile</a>         
        </div>
      </div>
    </li>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item cmenu-item" *ngFor="let navItem of profileDetails.nav_items" (click)="takeroute(navItem.link,$event)">
      <i class="ti-user"></i> {{navItem.name}}</a>
    <a class="dropdown-item cmenu-item" (click)="logoff()">
      <i class="fa fa-power-off"></i> Logout</a>
  </ul>
  <!-- /.dropdown-user -->
</li>

<!-- <div class="user-area user-show">
  <a href="#">
    <img src="{{profileDetails.image_path}}" alt="User Avatar" class="user-avatar rounded-circle">
  </a>
  <ul class="user-menu">
    <li *ngFor="let navItem of profileDetails.nav_items" (click)="takeroute(navItem.link,$event)">
      <a>
        {{navItem.name}}
      </a>
    </li>
    <li>
      <a (click)="logoff()">
        Logout
      </a>
    </li>
  </ul>
</div> -->
