<app-timer (endExamEvent)="triggerEndExam($event)" [timerCount]="timerCount">
</app-timer>

<div class="row">
  <div class="questionTypeCont col-12">
      <h3>Don't refresh the page after a exam is started.</h3>
    <span class="questiontype-details">
      <span class="questionType">Question Type :</span>MCQ</span>
  </div>
  <div id="questn-innr-div-section col-12">
    <div id="Subjt_Div"></div>
    <!--float left -->
    <div id="Subdetail_Div"></div>
    <!--float right -->
  </div>
</div>

<div class="row">
  <div class="col scroll-bar-div" [formGroup]="parent">
    <div formArrayName="questionAnswer">
      <div *ngFor="let item of questionanswers; let i = index;">
        <fieldset [formGroupName]="i" [ngClass]="{'hide': !(currentCounter==i) }">
          <div class="question-num">
            <b>
              <span>Question No</span>{{i+1}}</b>
          </div>
          <div class="exam-content exam-content-colored">
            <div class="exam-box">
              <div class="exam-column">
                <div class="inner-content">
                  <legend>
                    {{ questionByQuestionId(item.value.questionId).question_text }}
                  </legend>
                  <div class="form-group">
                    <div class="form-radio" *ngFor="let option of optionsByQuestionId(item.value.questionId)">
                      <label>
                        <input formControlName="selectedOptionId" value="{{option.option_id}}" type="radio"> {{option.option_text }}
                        <i class="input-helper"></i>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="exam-content-footer">
            <div class="col-12">
              <button type="button" class="btn btn-primary ml-2 mr-2 mb-2" *ngIf="i!=0" (click)="show(i-1)">Previous</button>
              <button type="button" class="btn btn-primary mr-2 mb-2" *ngIf="i!=questionanswers.length-1" (click)="show(i+1)">Next</button>
              <button type="button" class="btn btn-warning mr-2 mb-2">
                <label style="margin:0">
                  <input style="opacity:0; position:absolute; left:9999px;width:0;height:0" (change)="reviewTrigger(item,$event)" [checked]="item.value.selectedOptionId == answerStatus.Marked_For_Review"
                    type="checkbox"> Mark it for review
                </label>
              </button>
              <button class="btn btn-outline-primary mb-1" type="button" (click)="openVerticallyCentered(test)">Report question</button>
              <button type="button" class="btn btn-info mr-2 mb-2" (click)="clearResponse(item,i)">Clear the response</button>
              <button type="submit" *ngIf="typeOfExam == requiredExamType" class="btn btn-sucess mr-2 mb-2">Submit</button>
            </div>
          </div>
        </fieldset>

        <ng-template #test let-c="close" let-d="dismiss" id="reportModal">
            <!-- <div class="modal-header">
              <h4 class="modal-title">Modal title</h4>
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div> -->
            <div class="modal-body">
              <div >
                <div class="form-group">
                  <!-- <label class="col-form-label">Question:</label>{{ questionByQuestionId(item.value.questionId).question_text }} -->
                  <label class="col-form-label"><b>Question:&nbsp;</b>{{ questionByQuestionId(item.value.questionId).question_text }}</label>
                  <!-- <input type="text" class="form-control" #Question > -->
                  <!-- <label>{{questionByQuestionId(item.value.questionId).question_text}}</label> -->
                  
                </div>
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Recipient:</label>
                  <select class="form-control" #reportType>
                    <option *ngFor="let type of reportTypes" value="{{type.id}}" >{{type.name}}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Message:</label>
                  <textarea class="form-control" #reportComment></textarea>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" 
              (click)="alertSubmit(item.value.questionId,reportType,reportComment.value);c('Close click');">Submit</button>
              <button type="button" class="btn btn-danger" (click)="c('Close click')">Close</button>
            </div>
            
          </ng-template>
      </div>
    </div>

  </div>
  <div class="col-3 exam-side-bar">
    <div class="row">
      <div class="col-6">
          <button class="small-ans-box answered">{{answerCount}}</button>
        <span class="sm-text answeredLabel"> &nbsp;Answered</span>
      </div>
      <div class="col-6">
          <button class="small-ans-box visited_but_not_answered">{{someStatus.length-answerCount-answermarkedForReviewCount}}</button>
        <span class="sm-text notAnsweredLabel"> &nbsp;Not Answered</span>
      </div>
      <!-- Force next columns to break to new line -->
      <div class="w-100"></div>
      <div class="col-12">
          <button class="small-ans-box review">{{markedForReviewCount}}</button>
        <span class="sm-text markedLabel"> &nbsp;Marked for Review
        </span>
      </div>
      <div class="w-100"></div>
      <div class="col-12">
          <button class="small-ans-box ansreview_marked_consideredwered">{{answermarkedForReviewCount}}</button>
        <span class="sm-text markedAndAnsweredLabel">
           &nbsp;Answered &amp; Marked for Review (will be considered for evaluation)
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="header-0"></div>
        <div class="subheader-0" id="chooseQuestion">Choose a Question</div>
      </div>
    </div>
    <div class="exam-content">
      <div class="exam-box">
        <div class="exam-column">
          <div class="inner-content">
            <button *ngFor="let item of someStatus; let i = index;" type="button" (click)="show(i)" class="btn btn-sm mx-1 my-1" [ngClass]="item">{{i+1}}
            </button>
          </div>
        </div>
        <div>
        </div>
      </div>
    </div>
  </div>
</div>
