<div class="left-container">
  <div class="container scroll-bar-div">
    <div>
      <button class="btn btn-sm btn-outline-primary" (click)="acc.toggle('Physics')">Toggle All</button>
<!-- {{Questions|json}} -->

      <!-- <ul *ngFor="let group of Questions;index as groupIndex">
          <ul>
            <li *ngFor="let person of group.questionsResult">
              {{ person|json }}
            </li>
          </ul>
        </ul> -->

      <ngb-accordion #acc="ngbAccordion" [closeOthers]="true">
        <ngb-panel title="{{item.subject}}" *ngFor="let item of Questions" >
          <ng-template ngbPanelContent>
           <!--  <a class="btn btn-circle btn-default noHover" *ngFor="let Question of item.questionsResult; index as i" (click)="setSelected(Question)">
              {{i+1}} 
            </a> -->
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div>
</div>