<div class="footer_paper">
  <div class="footer_paper__inner">
    <div class="footer_paper__credits">
      <div class="footer_paper__copyright">
Copyrights @ Experts Training Solutions Pvt. Ltd
        <span class="credits__line">—</span></div>
      <div class="footer_paper__caption">Proudly Made in India</div>
    </div>
 <!--    <ul class="footer_paper__socials">
      <li class="footer_paper__social">
        <a class="footer_paper__label" href="https://twitter.com/papertiger" target="_blank">TWITTER</a>
      </li>
      <li class="footer_paper__social">
        <a class="footer_paper__label" href="https://www.instagram.com/papertigeragency/" target="_blank">Instagram</a>
      </li>
    </ul> -->
  </div>
</div>
