<div class="row align-items-center align-items-center auth-pages">
    <div class="col-12 col-lg-12 mx-auto">
        <div class="card ">
            <div class="card-body px-5 py-5">
              <h3 class="card-title text-left mb-3">Sign Up</h3>
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">
                        First Name
                        <i class="required-indicator">
                            &#9733;
                        </i>
                      </label>
                      <div class="col-sm-8">
                        <input class="form-control p_input" type="text" formControlName="firstName">
                        <div class="error" *ngIf="required('firstName')">
                          First Name is required
                        </div>
                      </div>
  
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">
                        Last Name
                        <i class="required-indicator">
                            &#9733;
                        </i>
                      </label>
                      <div class="col-sm-8">
                        <input class="form-control p_input" type="text" formControlName="lastName">
                        <div class="error" *ngIf="required('lastName')">
                          Last Name is required
                        </div>
                      </div>
  
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">College</label>
                      <div class="col-sm-8">
                        <input class="form-control p_input" type="text" formControlName="collegeName">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">Year</label>
                      <div class="col-sm-8">
                        <input class="form-control p_input" placeholder="yyyy" formControlName="sYear">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">State</label>
                      <div class="col-sm-8">
                        <input class="form-control p_input" type="text" formControlName="state">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">
                        WhatsApp Number
                        <i class="required-indicator">
                            &#9733;
                        </i>
                      </label>
                      <div class="col-sm-8">
                        <input class="form-control p_input" type="text" formControlName="whatsAPPNumber">
                        <div class="error" *ngIf="required('whatsAPPNumber')">
                          WhatsApp number is required
                        </div>
                        <div class="error" *ngIf="invalid('whatsAPPNumber')">
                          Invalid mobile number
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">
                        E-mail Id
                        <i class="required-indicator">
                            &#9733;
                        </i>
                      </label>
                      <div class="col-sm-8">
                        <input class="form-control p_input" type="text" formControlName="emailId">
                        <div class="error" *ngIf="required('emailId')">
                          Email Id is required
                        </div>
                        <div class="error" *ngIf="emailvalid">
                          Invalid email Id
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">
                        Mobile Number
                        <i class="required-indicator">
                            &#9733;
                        </i>
                      </label>
                      <div class="col-sm-8">
                        <input class="form-control p_input" type="text" formControlName="mobileNumber">
                        <div class="error" *ngIf="required('mobileNumber')">
                          Mobile number is required
                        </div>
                        <div class="error" *ngIf="invalid('mobileNumber')">
                          Invalid mobile number
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">
                        Password
                        <i class="required-indicator">
                            &#9733;
                        </i>
                      </label>
                      <div class="col-sm-8">
                        <input class="form-control p_input" type="password" formControlName="password">
                        <div class="error" *ngIf="required('password')">
                          Password is required
                        </div>
                        <div class="error" *ngIf="passvalid">
                          Minimum 4 Characters are required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">Got reference from</label>
                      <div class="col-sm-8">
                        <input class="form-control p_input" type="text">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group d-flex align-items-center justify-content-between">
                      <div class="form-check star-admin-form-check px-0 py-0" formGroupName="declarationAcceptance">
                        <label>
                          <input formControlName="is_accepted" class="form-check-input" type="checkbox"> I HERE BY DECLARE THAT, FROM NOW I AM PART OF MDS CONQUER FAMILY AND TAKING ALL THE REQUIRED HELP/
                          SUGGESTION FOR MY PG PREPARATION.
                          <i class="input-helper"></i>
                        </label>
                        <div class="error" *ngIf="validAcceptance">
                         you are allowed to register, if the declaration is accepted
                        </div>
                      </div>
  
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" type="submit" [disabled]="registerForm.invalid"  class="btn btn-primary btn-lg enter-btn">submit</button>
                  <button type="button" (click)="cancel()" class="btn btn-secondary btn-lg secondary-btn">cancel</button>
                </div>
              </form>
            </div>
          </div>
    </div>  
  </div>