<div class="container-scroller ps ps--theme_default">
    <div class="container-fluid">
      <div class="row">
        <div class="content-wrapper full-page-wrapper d-flex align-items-center auth-pages">
          <div class="card col-lg-4 mx-auto">
            <div class="card-body px-5 py-5">
              <h3 class="card-title text-left mb-3">Reset Your Password</h3>
              <form [formGroup]="requestResetPasswordForm" (ngSubmit)="onSubmit()">                
                <div class="form-group">
                  <input class="form-control p_input" placeholder="Email Id" type="text" formControlName="userName">
                  <div class="error" *ngIf="required('userName')">
                    Username is required
                  </div>
                  <div class="error" *ngIf="invalid">
                    Invalid Username
                  </div>
                </div>                
                <div class="text-center">
                  <button type="submit" [disabled]="requestResetPasswordForm.invalid" class="btn btn-primary btn-block enter-btn">Next</button>
                </div>               
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
