<div class="row auth-pages">

  <div class="col-lg-4 col-md-5">
    <div class="card card-user">
      <div class="card-body">
        <div class="image">
          <img src="assets/images/background_usrprofil.jpg" alt="...">
        </div>
        <div class="author">
          <div>
            <img class="avatar border-white" src="{{profileUrl}}" alt="..." (click)="changeBackground($event,modal_upload)">
          </div>
          <span class="camer-pic" style="top: -65px;">
            <div [ngClass]="imageBackground"></div>
          </span>
          <div>
            <h4 class="title">
              {{profileName}}
            </h4>
          </div>
        </div>
        <p class="description text-center">
        </p>
        <hr>
        <div class="text-center">
          <form [formGroup]="verificationForm" *ngIf="emailVerificationIsRequired||mobileVerificationIsRequired">
            <div class="row">
              <div class="col-md-6 col-md-offset-1" *ngIf="emailVerificationIsRequired">
                <button class="btn btn-secondary" [disabled]="disableVerifyEmail" type="button" (click)="sendEmailVerification()">Verify Email</button>
              </div>
              <div class="col-md-6" *ngIf="mobileVerificationIsRequired">
                <button class="btn btn-secondary" type="button" (click)="sendMobileVerification(modal_otpverification)">Verify Mobile Number</button>
              </div>
              <!-- 
                  <div class="col-md-4">
                    <h5>2GB
                      <br>
                      <small>Used</small>
                    </h5>
                  </div>
                  <div class="col-md-3">
                    <h5>24,6$
                      <br>
                      <small>Spent</small>
                    </h5>
                  </div> -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8 col-md-7">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">First Name
                  <i class="required-indicator">
                    &#9733;
                  </i>
                </label>
                <div class="col-sm-8">
                  <input class="form-control p_input" type="text" formControlName="firstName">
                  <div class="error" *ngIf="required('firstName')">
                    First Name is required
                  </div>
                </div>

              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">
                  Last Name
                  <i class="required-indicator">
                    &#9733;
                  </i>
                </label>
                <div class="col-sm-8">
                  <input class="form-control p_input" type="text" formControlName="lastName">
                  <div class="error" *ngIf="required('firstName')">
                    Last Name is required
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">College</label>
                <div class="col-sm-8">
                  <input class="form-control p_input" type="text" formControlName="collegeName">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Year</label>
                <div class="col-sm-8">
                  <input class="form-control p_input" placeholder="yyyy" formControlName="sYear">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">State</label>
                <div class="col-sm-8">
                  <input class="form-control p_input" type="text" formControlName="state">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">
                  WhatsApp Number
                  <i class="required-indicator">
                    &#9733;
                  </i>
                </label>
                <div class="col-sm-8">
                  <input class="form-control p_input" type="text" formControlName="whatsAPPNumber">
                  <div class="error" *ngIf="required('whatsAPPNumber')">
                    WhatsApp number is required
                  </div>
                  <div class="error" *ngIf="invalid('whatsAPPNumber')">
                    Invalid mobile number
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">
                  E-mail Id
                  <i class="required-indicator">
                    &#9733;
                  </i>
                </label>
                <div class="col-sm-8">
                  <input class="form-control p_input" type="text" formControlName="emailId">
                  <div class="error" *ngIf="required('emailId')">
                    Email Id is required
                  </div>
                  <div class="error" *ngIf="emailvalid">
                    Invalid email Id
                  </div>
                  <div class="error" *ngIf="checkemail">
                    Email Id is already taken
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">
                  Mobile Number
                  <i class="required-indicator">
                    &#9733;
                  </i>
                </label>
                <div class="col-sm-8">
                  <input class="form-control p_input" type="text" formControlName="mobileNumber">
                  <div class="error" *ngIf="required('mobileNumber')">
                    Mobile number is required
                  </div>
                  <div class="error" *ngIf="invalid('mobileNumber')">
                    Invalid mobile number
                  </div>
                  <div class="error" *ngIf="checkmobile">
                    Mobile number is already taken
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Got reference from</label>
                <div class="col-sm-8">
                  <input class="form-control p_input" type="text">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col align-self-center">
              <p *ngFor="let alert of alerts" class="text-center">
                <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
              </p>
            </div>
          </div>
          <div class="text-center">
            <button type="button" (click)="managePassword()" class="btn btn-success btn-lg success-btn">Manage Password</button>
            <button type="submit" [disabled]="profileForm.invalid && disableProfileForm" class="btn btn-primary btn-lg enter-btn">submit</button>
            <button type="button" (click)="cancel()" class="btn btn-secondary btn-lg secondary-btn">cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #modal_upload let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-upload-file [upload_url]="imageUploadUrl" (effPaths)="uploadedPaths($event)"></app-upload-file>
  </div>
</ng-template>

<ng-template #modal_otpverification let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">MobileNumber Verification</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="otpVerificationForm" (ngSubmit)="otpSubmit()">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">OTP:</label>
        <div class="col-sm-8">
          <input class="form-control p_input" type="text" formControlName="otp">
          <div class="error" *ngIf="otprequired('otp')">
            OTP is required
          </div>
        </div>
      </div>
      <div class="text-center">
        <button type="submit" [disabled]="otpVerificationForm.invalid" class="btn btn-primary btn-lg enter-btn">submit</button>
        <button type="button" class="btn btn-secondary btn-lg enter-btn" (click)="c('Close click')">Cancel</button>
      </div>
    </form>
  </div>
</ng-template>
